<div class="my-content">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-xs-12">
                <div class="col-sm-9 home-box">
                    <div class="row">
                        <div class="home-top1 col-xs-12">
                            <div class="home-top1-title">
                                <div class="left"></div>
                                <div class="content">通知公告
                                    <div class="side-by-side clearfix">
                                        <!-- <div>
                                                    <em>Turns This</em>
                                                    <select data-placeholder="Choose a Country..." class="select" tabindex="1">
                                                        <option value=""></option>
                                                        <option value="United States">United States</option>
        
                                                    </select>
                                                </div>
                                                <div>
                                                    <em>Into This</em>
                                                    <select data-placeholder="Choose a Country..." class="chosen-select" tabindex="2">
                                                        <option value=""></option>
                                                        <option value="United States">United States</option>
                                                        <option value="United Kingdom">United Kingdom</option>
                                                    </select>
                                                </div> -->
                                    </div>
                                </div>
                                <div class="right" ng-click="toNoti()">></div>
                            </div>

                            <ul class="home2-top1-ul">
                                <li ng-repeat="li in allNews">
                                    <a href="">
                                        <div class="col-xs-6">
                                            <div class="row">
                                                {{li.text}}
                                            </div>
                                        </div>
                                        <div class="col-xs-6">
                                            <div class="row">
                                                {{li.time}}
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 home-box">
                    <div class="row">
                        <div class="home-top1 col-xs-12">
                            <div class="home-top1-title">
                                <div class="left"></div>
                                <div class="content">待办事项</div>
                                <div class="right" ng-click="toSrmNeedToDo()">></div>
                            </div>
                            <ul class="home2-top1-ul">
                                <li ng-repeat="li in allNews" class="column-elipsis">
                                    <a href="">
                                        {{li.text}}
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="home-content-box">
                    <div class="col-xs-12">
                        <div class="home-top1-title">
                            <div class="left"></div>
                            <div class="content">科研统计</div>
                            <div class="right" ng-click='toSrmStatistics()'>></div>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="col-xs-4">
                            <div class="row">
                                <div id="container1" style="width: 100%; height: 300px"></div>
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="row">
                                <div id="container2" style="width: 100%;height: 300px"></div>
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="row">
                                <div id="container3" style="width: 100%;height: 300px"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>