<div class="my-content">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="top-commen">
            <div class="row">
                <div class="left">
                    <div class="text">
                        <span>待办事项</span>
                        <span class="glyphicon glyphicon-remove"></span>
                    </div>
                </div>
                <div class="right">

                </div>
            </div>
        </div>
        <div class="pos-commen-content-left">
            <ul>
                <li>
                    <input type="text" placeholder="搜索" style="width: 100%">
                </li>
            </ul>
        </div>
        <div class="commen-content-center">
            <div class="title-bar">
                <img class="top-img-bar" src="../../static/front/images/u69.png" alt="">待办事项
            </div>
            <div class="col-xs-12 commen-content-table">
                <ul class='line-height-ul'>
                    <li ng-repeat="li in allNews" class="col-xs-12" ng-click="toPage()">
                        <div class="col-xs-8">
                            <div class="row">
                                {{li.text}}
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="row">
                                {{li.time}}
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>