<div class="my-content">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="top-commen">
            <div class="row">
                <div class="left">
                    <div class="text">
                        <span>项目申报</span>
                        <span class="glyphicon glyphicon-remove"></span>
                    </div>
                </div>
                <div class="left">
                    <div class="text">
                        <span>新建项目申报</span>
                        <span class="glyphicon glyphicon-remove"></span>
                    </div>
                </div>
                <div class="right">

                </div>
            </div>
        </div>
        <div class="pos-commen-content-left">
            <ul>
                <li>
                    <input type="text" placeholder="搜索" style="width: 100%">
                </li>
            </ul>
        </div>
        <div class="commen-content-center">
            <div class="title-bar">
                <div class="col-xs-6">
                    <div class="row">
                        <img class="top-img-bar" src="../../static/front/images/u69.png" alt="">项目申报
                    </div>
                </div>
                <div class="col-xs-6 text-right">
                    <span ng-click="backProApp()">返回</span>
                </div>
            </div>

            <div class="col-xs-12 commen-content-table">
                <div class="form-group">
                    <div class="col-xs-12">
                        <label for="lastname" class="control-label label-width">申请人：</label>
                        <input type="text">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12 margin-top15">
                        <label for="lastname" class="control-label label-width">申请时间：</label>
                        <input type="text">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12 margin-top15">
                        <label for="lastname" class="control-label label-width">项目名称：</label>
                        <input type="text">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12 margin-top15">
                        <label for="lastname" class="control-label label-width">项目分类：</label>
                        <input type="text">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12 margin-top15">
                        <label for="lastname" class="control-label label-width">项目级别：</label>
                        <select name="" id="">
                            <option value="">国家级</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12 margin-top15">
                        <label for="lastname" class="control-label label-width">课题类型：</label>
                        <select name="" id="">
                            <option value="">课题</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12 margin-top15">
                        <label for="lastname" class="control-label label-width">项目立项情况：</label>
                        <select name="" id="">
                            <option value="">是</option>
                            <option value="">否</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12 margin-top15">
                        <label for="lastname" class="control-label label-width">项目立项情况：</label>
                        <button class="btn btn-default">附件上传</button>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12 margin-top15">
                        <button class="btn btn-default">保存</button>
                        <button class="btn btn-default">提交</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>