<div class="my-content">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="top-commen">
            <div class="row">
                <div class="left">
                    <div class="text">
                        <span>项目成果</span>
                        <span class="glyphicon glyphicon-remove"></span>
                    </div>
                </div>
                <div class="left">
                    <div class="text">
                        <span>专著</span>
                        <span class="glyphicon glyphicon-remove"></span>
                    </div>
                </div>
                <div class="right">

                </div>
            </div>
        </div>
        <div class="pos-commen-content-left">
            <ul>
                <li>
                    <input type="text" placeholder="搜索" style="width: 100%">
                </li>
                <li style="margin-top: 5px" ng-click='toL()'>论文</li>
                <li ng-click='toH()'>获奖</li>
                <li class="li-active" ng-click='toZHZH()'>专著</li>
                <li ng-click='toZHL()'>专利</li>
                <li ng-click='toZX()'>咨询报告</li>
                <li ng-click='toCHG()'>成果转化</li>
                <li ng-click='toGN()'>国内外学术会议报告</li>
                <li ng-click='toGW()'>国内外参加学术会议</li>
                <li ng-click='toGWJ()'>国外进修（合作研究）</li>
            </ul>
        </div>
        <div class="commen-content-center">
            <div class="title-bar">
                <div class="col-xs-6">
                    <div class="row">
                        <img class="top-img-bar" src="../../static/front/images/u69.png" alt="">横向科研项目
                    </div>
                </div>
                <div class="col-xs-6 text-right">
                    <span ng-click="newPro()">新建+</span>
                    <select name="" id="">
                        <option>教职员工</option>
                        <option>我的项目</option>
                    </select>
                </div>
            </div>
            <div class="col-xs-12 commen-content-table">
                <div class="col-xs-12 white-bg padding-top15">
                    <div class="col-xs-6">
                        <div class="row">
                            <button class="btn btn-default">全部</button>
                            <button class="btn btn-default">待审核</button>
                            <button class="btn btn-default">已审核</button>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="row text-right">
                            <select name="" id="">
                                <option value="">按时间</option>
                            </select>
                            <input type="text">
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 table-box">
                    <table class="table">
                        <tr class="active">
                            <th class="text-center">
                                <input type='checkbox' >
                            </th>
                            <th class="text-center">序号</th>
                            <th class="text-center">论文题目</th>
                            <th class="text-center">发表时间</th>
                            <th class="text-center">卷期、页码</th>
                            <th class="text-center">刊物名称</th>
                            <th class="text-center">期刊类型（sci影响因子）</th>
                            <th class="text-center">作者署名</th>
                            <th class="text-center">被引次数</th>
                            <th class="text-center">审核状态</th>
                            <th class="text-center">操作</th>
                        </tr>
                        <tr ng-repeat="td in allInfos" class="text-center">
                            <th class="text-center">
                                <input type='checkbox' >
                            </th>
                            <td>{{td.name}}</td>
                            <td>{{td.class}}</td>
                            <td>{{td.time}}</td>
                            <td>{{td.name}}</td>
                            <td>{{td.name}}</td>
                            <td>{{td.name}}</td>
                            <td>{{td.name}}</td>
                            <td>{{td.name}}</td>
                            <td>{{td.name}}</td>
                            <td ng-click='toCheckPro()'>{{td.status}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>