<div class="my-content">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="top-commen">
            <div class="row">
                <div class="left">
                    <div class="text">
                        <span>项目成果</span>
                        <span class="glyphicon glyphicon-remove"></span>
                    </div>
                </div>
                <div class="left">
                    <div class="text">
                        <span>专著</span>
                        <span class="glyphicon glyphicon-remove"></span>
                    </div>
                </div>
                <div class="right">

                </div>
            </div>
        </div>
        <div class="pos-commen-content-left">
            <ul>
                <li>
                    <input type="text" placeholder="搜索" style="width: 100%">
                </li>
                <li style="margin-top: 5px" ng-click='toL()'>论文</li>
                <li class="li-active" ng-click='toH()'>获奖</li>
                <li ng-click='toZHZH()'>专著</li>
                <li ng-click='toZHL()'>专利</li>
                <li ng-click='toZX()'>咨询报告</li>
                <li ng-click='toCHG()'>成果转化</li>
                <li ng-click='toGN()'>国内外学术会议报告</li>
                <li ng-click='toGW()'>国内外参加学术会议</li>
                <li ng-click='toGWJ()'>国外进修（合作研究）</li>
            </ul>
        </div>
        <div class="commen-content-center">
            <div class="title-bar">
                <div class="col-xs-6">
                    <div class="row">
                        <img class="top-img-bar" src="../../static/front/images/u69.png" alt="">{{proTitle}}
                    </div>
                </div>
                <div class="col-xs-6 text-right">
                    <span ng-click="backProApp()" ng-hide="proId==4">返回</span>
                </div>
            </div>

            <div class="col-xs-12 commen-content-table">
                <div class="form-group">
                    <div class="col-xs-12">
                        <label for="lastname" class="control-label label-width">申请人：</label>
                        <input type="text">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12 margin-top15">
                        <label for="lastname" class="control-label label-width">申请时间：</label>
                        <input type="text">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12 margin-top15">
                        <label for="lastname" class="control-label label-width">主持人：</label>
                        <input type="text">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12 margin-top15">
                        <label for="lastname" class="control-label label-width">项目名称：</label>
                        <input type="text">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12 margin-top15">
                        <label for="lastname" class="control-label label-width">项目分类：</label>
                        <input type="text">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12 margin-top15">
                        <label for="lastname" class="control-label label-width">项目级别：</label>
                        <select name="" id="">
                            <option value="">国家级</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12 margin-top15">
                        <label for="lastname" class="control-label label-width">项目状态：</label>
                        <select name="" id="">
                            <option value="">进行</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12 margin-top15">
                        <label for="lastname" class="control-label label-width">批准号：</label>
                        <input type="text">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12 margin-top15">
                        <label for="lastname" class="control-label label-width">立项时间：</label>
                        <input type="text">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12 margin-top15">
                        <label for="lastname" class="control-label label-width">项目起迄时间：</label>
                        <input type="text">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12 margin-top15">
                        <label for="lastname" class="control-label label-width">合同经费：</label>
                        <input type="text">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12 margin-top15">
                        <label for="lastname" class="control-label label-width">到账经费：</label>
                        <input type="text">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12 margin-top15">
                        <label for="lastname" class="control-label label-width">项目参与人：</label>
                        <input type="text">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12 margin-top15">
                        <label for="lastname" class="control-label label-width">附件：</label>
                        <button class="btn btn-default">附件上传</button>
                    </div>
                </div>
                <div class="form-group" ng-hide="proId==1">
                    <div class="col-xs-12 margin-top15">
                        <label for="lastname" class="control-label label-width"></label>
                        <span>共一个附件|</span>
                        <span>全部下载</span>
                    </div>
                </div>
                <div class="form-group" ng-hide="proId==1">
                    <div class="col-xs-12 margin-top15">
                        <label for="lastname" class="control-label label-width"></label>
                        <div class="inline-block-div">
                            <div class="col-xs-12 margin-top15 text-center">
                                附件1
                            </div>
                            <div class="col-xs-12">
                                <div class="row text-center">
                                    <button class='btn btn-default'>下载</button>
                                    <button class='btn btn-default'>删除</button>
                                </div>
                            </div>
                        </div>
                        <div class="inline-block-div">
                            <div class="col-xs-12 margin-top15 text-center">
                                附件1
                            </div>
                            <div class="col-xs-12">
                                <div class="row text-center">
                                    <button class='btn btn-default'>下载</button>
                                    <button class='btn btn-default'>删除</button>
                                </div>
                            </div>
                        </div>
                        <div class="inline-block-div">
                            <div class="col-xs-12 margin-top15 text-center">
                                附件1
                            </div>
                            <div class="col-xs-12">
                                <div class="row text-center">
                                    <button class='btn btn-default'>下载</button>
                                    <button class='btn btn-default'>删除</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12" ng-hide="proId==1 || proId==4">
                    <div class="col-xs-12 commen-title-bar">
                        <div class="commen-title-left-line"></div>
                        审核信息
                    </div>
                    <div class="col-xs-12 margin-top15" ng-repeat="li in allLis">
                        <div class="row flex-box">
                            <div class="left"></div>
                            <div class="right">
                                <div>{{li.name}}·{{li.status}}</div>
                                <div>{{li.time}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 text-right" ng-hide="proId==2">
                        <button class="btn btn-default" ng-click="changePro()">修改</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>