<div class="my-content">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="top-commen">
            <div class="row">
                <div class="left">
                    <div class="text">
                        <span>科研统计</span>
                        <span class="glyphicon glyphicon-remove"></span>
                    </div>
                </div>
                <div class="right">

                </div>
            </div>
        </div>
        <div class="pos-commen-content-left">
            <ul>
                <li>
                    <input type="text" placeholder="搜索" style="width: 100%">
                </li>
            </ul>
        </div>
        <div class="commen-content-center">
            <div class="title-bar">
                <img class="top-img-bar" src="../../static/front/images/u69.png" alt="">科研统计
            </div>
            <div class="col-xs-12 commen-content-table">
                <div class="col-xs-12">
                    <div class="home-top1-title">
                        <div class="left"></div>
                        <div class="content">科研统计</div>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="col-xs-6">
                        <!-- <div class="checkbox">
                            <label>
                                <input type="checkbox" value="">选项 2</label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked> 选项 1
                            </label>
                        </div> -->
                        <div class="form-group">
                            <label for="name">行标题：</label>
                            <select>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <!-- <div class="checkbox">
                                <label>
                                    <input type="checkbox" value="">选项 2</label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked> 选项 1
                                </label>
                            </div> -->
                        <div class="form-group">
                            <label for="name">列标题：</label>
                            <select>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label for="">统计项：</label>
                            <label>

                                <input type="checkbox" value="">数量
                            </label>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label for="">统计图表：</label>
                            <label>
                                <input type="radio" name='radio' value="">柱状图
                            </label>
                            <label>
                                <input type="radio" name='radio' value="">饼状图
                            </label>
                            <label>
                                <input type="radio" name='radio' value="">线图
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label for="">显示合计：</label>
                            <label>
                                <input type="radio" name='total' value="">是
                            </label>
                            <label>
                                <input type="radio" name='total' value="">否
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="col-xs-4">
                        <div class="row">
                            <div id="container1" style="width: 100%; height: 300px"></div>
                            <h4 class="text-center">统计标题</h4>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="row">
                            <div id="container2" style="width: 100%;height: 300px"></div>
                            <h4 class="text-center">统计标题</h4>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="row">
                            <div id="container3" style="width: 100%;height: 300px"></div>
                            <h4 class="text-center">统计标题</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>