<div class="my-content">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="top-commen">
            <div class="row">
                <div class="left">
                    <div class="text">
                        <span>通知公告</span>
                        <span class="glyphicon glyphicon-remove"></span>
                    </div>
                </div>
                <div class="left">
                    <div class="text">
                        <span>通知公告详情</span>
                        <span class="glyphicon glyphicon-remove"></span>
                    </div>
                </div>
                <div class="right">

                </div>
            </div>
        </div>
        <div class="pos-commen-content-left">
            <ul>
                <li>
                    <input type="text" placeholder="搜索" style="width: 100%">
                </li>
            </ul>
        </div>
        <div class="commen-content-center">
            <div class="title-bar">
                <img class="top-img-bar" src="../../static/front/images/u69.png" alt="">通知公告详情
            </div>
            <div class="col-xs-12 commen-content-table">
                <div class="col-xs-12">
                    
毒性检测中心仪器设备采购项目校内邀标公告<br/>


2017年9月5日<br/>

我校设备处将对我校毒性检测中心仪器设备采购项目进行校内邀标采购。现邀请合格投标人参加投标。<br/>



1、邀标内容：超低温冰箱、干燥箱、蜡块柜等实验室仪器设备。<br/>



2、投标人资质要求：<br/>



① 投标人具备独立的法人资格，具有合法的经营范围；<br/>



② 符合谈判文件中的规定的其它资格条款。<br/>



3、购买邀标文件须提供的证明材料：有效的工商营业执照副本、税务登记证副本、组织机构代码证副本（以上证件复印件加盖投标单位公章），法定代表人授权书和授权代表身份证（原件）。<br/>



4、购买邀标文件时间：即日起至2018年4月18日16时，每天9：00-16：00（北京时间，节假日除外）。<br/>



5、购买邀标文件地点：贵州医科大学新校区设备处颂雅楼3-13室。<br/>



6、开标时间和地点：2018年4月19日上午9：00（北京时间），贵州医科大学新校区颂雅楼设备处会议室，届时请参加投标的代表出席开标仪式。<br/>



7、联系方式：吴老师：0851-88416101<br/>



曾老师 电话：18198539502（购买标书）<br/>
                </div>
            </div>
        </div>
    </div>
</div>