<div class="my-content">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="top-commen">
            <div class="row">
                <div class="left">
                    <div class="text">
                        <span>班级管理</span>
                        <span class="glyphicon glyphicon-remove"></span>
                    </div>
                </div>
                <div class="right">

                </div>
            </div>
        </div>
        <div class="pos-commen-content-left">
            <ul>
                <li>班级信息</li>
                <li class="li-active">考勤管理</li>
                <li>工作日志</li>
            </ul>
        </div>
        <div class="commen-content-center">
            <div class="title-bar">
                <img class="top-img-bar" src="../../static/front/images/u69.png" alt="">考勤管理
            </div>
            <div class="col-xs-12 white-bg padding-top15">
                <button class="btn btn-default">全部</button>
                <button class="btn btn-default">待审核</button>
                <button class="btn btn-default">请假中</button>
                <button class="btn btn-default" ng-click="toFdyCancelLeave()">已销毁</button>
            </div>
            <div class="col-xs-12 commen-content-table">
                <div class="col-xs-12 table-box">
                    <table class="table">
                        <tr class="active">
                            <th class="text-center">年级、专业、班级</th>
                            <th class="text-center">姓名</th>
                            <th class="text-center">请假类型</th>
                            <th class="text-center">请假时长</th>
                            <th class="text-center">请假缘由</th>
                            <th class="text-center">状态</th>
                            <th class="text-center">编辑</th>
                        </tr>
                        <tr ng-repeat="td in allInfos" class="text-center">
                            <td>{{td.time}}</td>
                            <td>{{td.name}}</td>
                            <td>{{td.class}}</td>
                            <td>{{td.type}}</td>
                            <td>{{td.reason}}</td>
                            <td>{{td.file}}</td>
                            <td ng-click='toFdyOneStudent()'>{{td.status}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>