<div class="my-content">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="top-commen">
            <div class="row">
                <div class="left">
                    <div class="text">
                        <span>荣誉奖励</span>
                        <span class="glyphicon glyphicon-remove"></span>
                    </div>
                </div>
                <div class="left">
                    <div class="text">
                        <span>李文华</span>
                        <span class="glyphicon glyphicon-remove"></span>
                    </div>
                </div>
                <div class="right">

                </div>
            </div>
        </div>
        <div class="pos-commen-content-left">
            <ul>
                <li class="li-active">优秀三好学生</li>
                <li>优秀班干部</li>
                <li>其他奖励</li>
            </ul>
        </div>
        <div class="commen-content-center">
            <div class="col-xs-12 commen-title-bar">
                <div class="commen-title-left-line"></div>
                个人信息
            </div>

            <div class="col-xs-12 commen-content-table">
                <div class="form-group">
                    <div class="col-xs-12">
                        <label for="lastname" class="control-label">假期时间：</label>
                        <input type="text">
                        <label for="lastname" class="control-label">至</label>
                        <input type="text">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12 margin-top15">
                        <label for="lastname" class="control-label">请假类型：</label>
                        <input type="text">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12 margin-top15">
                        <label for="lastname" class="control-label">假期时长：</label>
                        <input type="text">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12 margin-top15">
                        <label for="lastname" class="control-label">附件：</label>
                        <input type="text">
                    </div>
                </div>

                <!-- <div class="form-group">
                    <div class="col-xs-12 margin-top15">
                        <button class="btn btn-default" ng-click="confirmSave()">提交</button>
                    </div>
                </div> -->
            </div>
            <div class="col-xs-12 commen-title-bar">
                <div class="commen-title-left-line"></div>
                家庭信息
            </div>
            <div class="col-xs-12 commen-content-table">
                <div class="form-group">
                    <div class="col-xs-12">
                        <label for="lastname" class="control-label">假期时间：</label>
                        <input type="radio">是
                        <input type="radio">否
                    </div>
                </div>
            </div>
            <div class="col-xs-12 commen-title-bar">
                <div class="commen-title-left-line"></div>
                审批流程
            </div>
            <div class="col-xs-12 commen-content-table">
                <div class="form-group">
                    <div class="col-xs-12 margin-top15">
                        <label for="lastname" class="control-label">辅导员：</label>
                        辅导员·同意
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12 margin-top15">
                        <label for="lastname" class="control-label">学院书记：</label>
                        学院书记·等待审核
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-xs-12 margin-top15">
                        <button class="btn btn-default" ng-click="confirmSave()">提交</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>