<div class="my-content">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="top-commen">
            <div class="row">
                <div class="left">
                    <div class="text">
                        <span>安全工作</span>
                        <span class="glyphicon glyphicon-remove"></span>
                    </div>
                </div>
                <div class="left">
                    <div class="text">
                        <span>李文华</span>
                        <span class="glyphicon glyphicon-remove"></span>
                    </div>
                </div>
                <div class="right">

                </div>
            </div>
        </div>
        <div class="pos-commen-content-left">
            <ul>
                <li>放假去向登记</li>
                <li class="li-active">宿舍安全卫生自查</li>
            </ul>
        </div>
        <div class="commen-content-center">
            <div class="col-xs-12 commen-title-bar">
                <div class="commen-title-left-line"></div>
                个人信息
            </div>

            <div class="col-xs-12 commen-content-table">
               
            </div>
        </div>
    </div>
</div>