<div class="my-content">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="top-commen">
            <div class="row">
                <div class="left">
                    <div class="text">
                        <span>班级管理</span>
                        <span class="glyphicon glyphicon-remove"></span>
                    </div>
                </div>
                <div class="left">
                    <div class="text">
                        <span>考勤记录</span>
                        <span class="glyphicon glyphicon-remove"></span>
                    </div>
                </div>
                <div class="right">

                </div>
            </div>
        </div>
        <div class="pos-commen-content-left">
            <ul>
                <li>班级信息</li>
                <li>考勤管理</li>
                <li class="li-active">工作日志</li>
            </ul>
        </div>
        <div class="commen-content-center">
            <div class="title-bar">
                <img class="top-img-bar" src="../../static/front/images/u69.png" alt="">工作日志
                <span ng-click="addRecord()">+添加工作日志</span>
            </div>
            <div class="col-xs-12 white-bg padding-top15">
                <button class="btn btn-default">全部</button>
                <button class="btn btn-default" ng-click="toFdyOneRecord()">17级临床1班</button>
                <button class="btn btn-default">16级临床2班</button>
                <button class="btn btn-default">13级临床5班</button>
                <button class="btn btn-default">15级营养学2班</button>
            </div>
            <div class="col-xs-12 commen-content-table">
                <div class="col-xs-12 table-box">
                    <table class="table">
                        <tr class="active">
                            <th class="text-center">日志类型</th>
                            <th class="text-center">年级、系、班级</th>
                            <th class="text-center">时间</th>
                            <th class="text-center">操作</th>
                        </tr>
                        <tr ng-repeat="td in allInfos" class="text-center">
                            <td>{{td.time}}</td>
                            <td>{{td.name}}</td>
                            <td>{{td.class}}</td>
                            <td ng-click="toFdyOneRecord()">{{td.status}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>