<div class="my-content">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="top-commen">
            <div class="row">
                <div class="left">
                    <div class="text">
                        <span>个人资料</span>
                        <span class="glyphicon glyphicon-remove"></span>
                    </div>
                </div>
                <div class="right">

                </div>
            </div>
        </div>
        <div class="pos-commen-content-left">
            <ul>
                <li ng-repeat="li in indexInfo" ng-click="changeHidden()">
                    {{li.text}}
                </li>
            </ul>
        </div>
        <div class="commen-content-center">
            <div ng-repeat='info in indexInfo'>
                <div class="title-bar {{info.isHidden?'ccc-bg':'white-bg'}}" ng-click="changeHidden()">
                    <img class="top-img-bar" ng-src="{{info.icon}}" alt="">{{info.text}}
                </div>
                <ul class='{{info.isHidden?"shown":"hidden"}}'>
                    <li>1</li>
                </ul>
            </div>
            
        </div>
    </div>
</div>