<div>
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-xs-12 home-box">
                <div class="home-top1 col-xs-12">
                    <div class="col-xs-6">
                        <div class="row">
                            <div class="home-top1-title">
                                <div class="left"></div>
                                <div class="content">通知公告
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="row">
                            <div class="home-top1-title text-right">
                                <div class="content">首页<span class="padding">|</span>科研管理系统</div>
                            </div>
                        </div>
                    </div>

                    <ul class="home2-top1-ul">
                        <li ng-repeat="li in allNews">
                            <a href="">
                                <div class="col-xs-8">
                                    <div class="row">
                                        {{li.text}}
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <div class="row">
                                        {{li.time}}
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>