<div class="my-content">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="top-commen">
            <div class="row">
                <div class="left">
                    <div class="text">
                        <span>基本信息</span>
                        <span class="glyphicon glyphicon-remove"></span>
                    </div>
                </div>
                <div class="right">

                </div>
            </div>
        </div>
        <div class="pos-commen-content-left">
            <ul>
                <li ng-repeat="li in indexInfo" ng-click="changeHidden()">
                    {{li.text}}
                </li>
            </ul>
        </div>
        <div class="commen-content-center">
            <div class="title-bar">
                <div class="col-xs-6">
                    <div class="row">
                        <img class="top-img-bar" src="../../static/front/images/u69.png" alt="">{{proTitle}}
                    </div>
                </div>
                <div class="col-xs-6 text-right">
                    <span ng-click="backProApp()" ng-hide="proId==4">返回</span>
                </div>
            </div>

            <div class="col-xs-12 commen-content-table">
                <div class="form-group">
                    <div class="col-xs-12">
                        <label for="lastname" class="control-label label-width">攻读学位：</label>
                        <input type="text">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12 margin-top15">
                        <label for="lastname" class="control-label label-width">培养单位：</label>
                        <input type="text">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12 margin-top15">
                        <label for="lastname" class="control-label label-width">培养时间：</label>
                        <input type="text">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12 margin-top15">
                        <label for="lastname" class="control-label label-width">培养情况：</label>
                        <textarea name="" id="" cols="30" rows="10"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12 margin-top15">
                        <label for="lastname" class="control-label label-width">项目分类：</label>
                        <input type="text">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12 margin-top15">
                        <label for="lastname" class="control-label label-width">项目级别：</label>
                        <select name="" id="">
                            <option value="">国家级</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12 margin-top15">
                        <label for="lastname" class="control-label label-width">附件：</label>
                        <button class="btn btn-default">附件上传</button>
                    </div>
                </div>
                <div class="form-group" ng-hide="proId==1">
                    <div class="col-xs-12 margin-top15">
                        <label for="lastname" class="control-label label-width"></label>
                        <span>共一个附件|</span>
                        <span>全部下载</span>
                    </div>
                </div>
                <div class="form-group" ng-hide="proId==1">
                    <div class="col-xs-12 margin-top15">
                        <label for="lastname" class="control-label label-width"></label>
                        <div class="inline-block-div">
                            <div class="col-xs-12 margin-top15 text-center">
                                附件1
                            </div>
                            <div class="col-xs-12">
                                <div class="row text-center">
                                    <button class='btn btn-default'>下载</button>
                                    <button class='btn btn-default'>删除</button>
                                </div>
                            </div>
                        </div>
                        <div class="inline-block-div">
                            <div class="col-xs-12 margin-top15 text-center">
                                附件1
                            </div>
                            <div class="col-xs-12">
                                <div class="row text-center">
                                    <button class='btn btn-default'>下载</button>
                                    <button class='btn btn-default'>删除</button>
                                </div>
                            </div>
                        </div>
                        <div class="inline-block-div">
                            <div class="col-xs-12 margin-top15 text-center">
                                附件1
                            </div>
                            <div class="col-xs-12">
                                <div class="row text-center">
                                    <button class='btn btn-default'>下载</button>
                                    <button class='btn btn-default'>删除</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12 margin-top15">
                        <div class="col-xs-6 text-right"><button class="btn btn-default">保存</button></div>
                        <div class="col-xs-6"><button class="btn btn-default">取消</button></div>
                    </div>
                </div>
            </div>
            <!-- <div class="col-xs-12 commen-content-table">
                <div ng-if="selfInfo"  ng-include="'../../static/front/views/common/selfInfo.html'"></div>
            </div> -->
        </div>
    </div>
</div>