<div class="my-content">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="top-commen">
            <div class="row">
                <div class="left">
                    <div class="text">
                        <span>基本信息</span>
                        <span class="glyphicon glyphicon-remove"></span>
                    </div>
                </div>
                <div class="right">

                </div>
            </div>
        </div>
        <div class="pos-commen-content-left">
            <ul>
                <li ng-repeat="li in indexInfo" ng-click="changeHidden()">
                    {{li.text}}
                </li>
            </ul>
        </div>
        <div  ng-include="infoUrl"></div>
    </div>
</div>