<div class="my-content">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="top-commen">
            <div class="row">
                <div class="left">
                    <div class="text">
                        <span>个人资料</span>
                        <span class="glyphicon glyphicon-remove"></span>
                    </div>
                </div>
                <div class="right">

                </div>
            </div>
        </div>
        <div class="pos-commen-content-left">
            <ul>
                <li ng-repeat="li in indexInfo" ng-click="changeHidden()">
                    {{li.text}}
                </li>
            </ul>
        </div>
        <div class="commen-content-center">
            <div ng-repeat='info in indexInfo'>
                <div class="col-xs-12 title-bar {{info.isHidden?'ccc-bg':'white-bg'}}">
                    <div class="row">
                        <div class="col-xs-6" ng-click="changeHidden()">
                            <div class="row">
                                <img class="top-img-bar" ng-src="{{info.icon}}" alt="">{{info.text}}
                            </div>
                        </div>
                        <div class="col-xs-6 text-right" ng-if="$index==0" ng-click="checkInfo()">
                            修改
                        </div>
                        <div class="col-xs-6 text-right" ng-if="$index>0" ng-click="checkInfo()">
                            +新增{{info.text}}
                        </div>
                    </div>
                </div>
                <ul class='{{info.isHidden?"shown":"hidden"}}'>
                    <li ng-if="$index==0">
                        <span ng-repeat="text in info.content" class="padding-left15">{{text.key}}： {{text.value}}</span>
                    </li>
                    <li ng-if="$index>0">
                        <table>
                            <tr  class="col-xs-12" ng-repeat="tr in info.content">
                                <td class="col-xs-2">
                                    <div class="row">
                                        {{tr.data}}
                                    </div>
                                </td>
                                <td class="col-xs-2">
                                    <div class="row">
                                        {{tr.school}}
                                    </div>
                                </td>
                                <td class="col-xs-2">
                                    <div class="row">
                                        {{tr.academicDegree}}
                                    </div>
                                </td>
                                <td class="col-xs-2">
                                    <div class="row">
                                        {{tr.sponsor}}
                                    </div>
                                </td>
                                <td class="col-xs-2">
                                    <div class="row">
                                        {{tr.cultureDescription}}
                                    </div>
                                </td>
                                <td class="col-xs-1">
                                    <div class="row">
                                        {{tr.attachments}}
                                    </div>
                                </td>
                                <td class="col-xs-1 text-right" ng-click="check()">
                                    <div class="row">
                                        查看
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>