<div class="my-content">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="top-commen">
            <div class="row">
                <div class="left">
                    <div class="text">
                        <span>汇总工作</span>
                        <span class="glyphicon glyphicon-remove"></span>
                    </div>
                </div>
                <div class="right">

                </div>
            </div>
        </div>
        <div class="pos-commen-content-left">
            <ul>
                <li class="li-active">汇总工作</li>
            </ul>
        </div>
        <div class="commen-content-center">
            <div class="title-bar">
                <img class="top-img-bar" src="../../static/front/images/u69.png" alt="">汇总工作
            </div>
            <div class="col-xs-12 commen-content-table">
                <div class="col-xs-12">
                    <label for="">选择汇总类型：</label>
                    <select name="" id="">
                        <option value="">学生基本信息</option>
                    </select>
                    <label for="">选择时间：</label>
                    <select name="" id="">
                        <option value="">2014</option>
                    </select>
                </div>
                <div class="col-xs-12">
                    <div class="col-xs-6">
                        <div class="row">
                            <label for="">选择字段：</label>
                            全选
                            <input type="checkbox">
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="row">
                                <div class="input-group">
                                    <input type="text" class="form-control">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" ng-click="toAllInfoOne()" type="button">
                                            搜索
                                        </button>
                                    </span>
                                </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="col-xs-3" ng-repeat="info in allInfos">
                        <div class="row">
                            {{info.text}} <input type="checkbox">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>