<div class="my-content">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="top-commen">
            <div class="row">
                <div class="left">
                    <div class="text">
                        <span>汇总工作</span>
                        <span class="glyphicon glyphicon-remove"></span>
                    </div>
                </div>
                <div class="right">

                </div>
            </div>
        </div>
        <div class="pos-commen-content-left">
            <ul>
                <li class="li-active">汇总工作</li>
            </ul>
        </div>
        <div class="commen-content-center">
            <div class="title-bar">
                <img class="top-img-bar" src="../../static/front/images/u69.png" alt="">汇总工作
            </div>
            <div class="col-xs-12 commen-content-table">
                <div class="col-xs-12 table-box">
                    <table class="table">
                        <tr class="active">
                            <th class="text-center">学号</th>
                            <th class="text-center">姓名</th>
                            <th class="text-center">性别</th>
                            <th class="text-center">宿舍</th>
                            <th class="text-center">家庭住址</th>
                            <th class="text-center">政治面貌</th>
                            <th class="text-center">本人联系电话</th>
                            <th class="text-center">籍贯</th>
                        </tr>
                        <tr ng-repeat="td in allInfos" class="text-center">
                            <td>{{td.time}}</td>
                            <td>{{td.name}}</td>
                            <td>{{td.class}}</td>
                            <td>{{td.time}}</td>
                            <td>{{td.name}}</td>
                            <td>{{td.name}}</td>
                            <td>{{td.name}}</td>
                            <td>{{td.class}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>