<div class="my-content">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="top-commen">
            <div class="row">
                <div class="left">
                    <div class="text">
                        <span>人员管理</span>
                        <span class="glyphicon glyphicon-remove"></span>
                    </div>
                </div>
                <div class="right">

                </div>
            </div>
        </div>
        <div class="pos-commen-content-left">
            <ul>
                <li>班级信息</li>
                <li>辅导员</li>
                <li class="li-active">班主任</li>
            </ul>
        </div>
        <div class="commen-content-center">
            <div class="title-bar">
                <img class="top-img-bar" src="../../static/front/images/u69.png" alt="">班级信息
            </div>
            <div class="col-xs-12 commen-content-table">
                <div class="col-xs-12 white-bg padding-top15">
                    <select name="" id="">
                        <option value="">大学一年级</option>
                    </select>
                    <select name="" id="">
                        <option value="">临床医学</option>
                    </select>
                    <select name="" id="">
                        <option value="">临床一班</option>
                    </select>
                </div>
                <div class="col-xs-12 table-box">
                    <table class="table">
                        <tr class="active">
                            <th class="text-center">专业</th>
                            <th class="text-center">年级</th>
                            <th class="text-center">班级</th>
                            <th class="text-center">辅导员</th>
                            <th class="text-center">操作</th>
                        </tr>
                        <tr ng-repeat="td in allInfos" class="text-center">
                            <td>{{td.time}}</td>
                            <td>{{td.name}}</td>
                            <td>{{td.class}}</td>
                            <td>{{td.class}}</td>
                            <td ng-click='toSdOne()'>{{td.status}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>