<div class="my-content">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="top-commen">
            <div class="row">
                <div class="left">
                    <div class="text">
                        <span>人员管理</span>
                        <span class="glyphicon glyphicon-remove"></span>
                    </div>
                </div>
                <div class="left">
                    <div class="text">
                        <span>李友光（辅导员</span>
                        <span class="glyphicon glyphicon-remove"></span>
                    </div>
                </div>
                <div class="left">
                    <div class="text">
                        <span>考勤记录</span>
                        <span class="glyphicon glyphicon-remove"></span>
                    </div>
                </div>
                <div class="right">

                </div>
            </div>
        </div>
        <div class="pos-commen-content-left">
            <ul>
                <li>班级信息</li>
                <li class="li-active">辅导员</li>
                <li>班主任</li>
            </ul>
        </div>
        <div class="commen-content-center">
            <div class="commen-title-bar">
                <div class="commen-title-left-line"></div>
                考勤记录
            </div>

            <div class="col-xs-12 commen-content-table">
                <!-- <div class="form-group">
                    <div class="col-xs-12 margin-top15">
                        <label for="lastname" class="control-label">心理求助分类：</label>
                        <select name="" id="">
                            <option value="">事假</option>
                        </select>
                    </div>
                </div> -->
                <div class="form-group">
                    <div class="col-xs-12 margin-top15">
                        <label for="lastname" class="control-label">时间：</label>
                        <input type="text">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12 margin-top15">
                        <label for="lastname" class="control-label">班级：</label>
                        <input type="text">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12 margin-top15">
                        <button class="btn btn-default" ng-click="confirmSave()">提交</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>