<div class="my-content">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="top-commen">
            <div class="row">
                <div class="left">
                    <div class="text">
                        <span>基本信息</span>
                        <span class="glyphicon glyphicon-remove"></span>
                    </div>
                </div>
                <div class="left">
                    <div class="text">
                        <span>17级临床一班</span>
                        <span class="glyphicon glyphicon-remove"></span>
                    </div>
                </div>
                <div class="left">
                    <div class="text">
                        <span>李友华</span>
                        <span class="glyphicon glyphicon-remove"></span>
                    </div>
                </div>
                <div class="right">

                </div>
            </div>
        </div>
        <div class="pos-commen-content-left">
            <ul>
                <li class="li-active">班级信息</li>
                <li ng-click="toSdInstructor()">辅导员</li>
                <li ng-click='toFdyOtherHonor()'>班主任</li>
            </ul>
        </div>
        <div class="commen-content-center">
            <div class="title-bar">
                <img class="top-img-bar" src="../../static/front/images/u69.png" alt=""> 基本信息
            </div>
            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <div class="col-xs-12">
                        <label for="firstname" class="control-label">姓名：</label>
                        <span>董传鹏</span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        <div class="col-sm-3">
                            <div class="row">
                                <label for="lastname" class="control-label">学院：</label>
                                公共卫生学院
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="row">
                                <label for="lastname" class="control-label">专业：</label>
                                临床医学系
                                <!-- <div class="col-sm-10">
                                                <input type="text" class="form-control" id="lastname" placeholder="请输入姓">
                                            </div> -->
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="row">
                                <label for="lastname" class="control-label">学号：</label>
                                120809222098
                                <!-- <div class="col-sm-10">
                                                <input type="text" class="form-control" id="lastname" placeholder="请输入姓">
                                            </div> -->
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="row">
                                <label for="lastname" class="control-label">性别：</label>
                                男
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        <div class="col-sm-3">
                            <div class="row">
                                <label for="lastname" class="control-label">年级：</label>
                                <select name="" id="">
                                    <option value="">大学一年级</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="row">
                                <label for="lastname" class="control-label">班级：</label>
                                <select name="" id="">
                                    <option value="">临床一班</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="row">
                                <label for="lastname" class="control-label">入校时间：</label>
                                <input type="text">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        <div class="col-sm-6">
                            <div class="row">
                                <label for="lastname" class="control-label">身份证号：</label>
                                <input type="text">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="row">
                                <label for="lastname" class="control-label">出生年月：</label>
                                <input type="text">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        <div class="col-sm-3">
                            <div class="row">
                                <label for="lastname" class="control-label">身体状况：</label>
                                <select name="" id="">
                                    <option value="">健康</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="row">
                                <label for="lastname" class="control-label">民族：</label>
                                <select name="" id="">
                                    <option value="">汉</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="row">
                                <label for="lastname" class="control-label">政治面貌：</label>
                                <select name="" id="">
                                    <option value="">团员</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        <div class="col-sm-6">
                            <div class="row">
                                <label for="lastname" class="control-label">宿舍号：</label>
                                <input type="text">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="row">
                                <label for="lastname" class="control-label">婚姻状况：</label>
                                <select name="" id="">
                                    <option value="">未婚</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        <div class="col-xs-4">
                            <div class="row">
                                <label for="lastname" class="control-label">生源地：</label>
                                <select name="" id="">
                                    <option value="">贵州</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="row">
                                <select name="" id="">
                                    <option value="">贵阳</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="row">
                                <select name="" id="">
                                    <option value="">开阳</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-xs-12">
                        <label for="">家庭详细住址：</label>
                        <input type="text">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        <div class="col-sm-6">
                            <div class="row">
                                <label for="lastname" class="control-label">监护人联系电话：</label>
                                <input type="text">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="row">
                                <label for="lastname" class="control-label">本人联系电话：</label>
                                <input type="text">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        <div class="col-sm-6">
                            <div class="row">
                                <label for="lastname" class="control-label">监护人联系电话：</label>
                                <input type="text">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="row">
                                <label for="lastname" class="control-label">本人联系电话：</label>
                                <input type="text">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        <label for="lastname" class="control-label">QQ号：</label>
                        <input type="text">
                    </div>
                </div>

                <div class="col-xs-12">
                    <div class="row">
                        请完善您的基本信息!
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12 text-center">
                        <button type="submit" class="btn btn-default">保存</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>