<div class="my-content">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="top-commen">
            <div class="row">
                <div class="left">
                    <div class="text">
                        <span>通知管理</span>
                        <span class="glyphicon glyphicon-remove"></span>
                    </div>
                </div>
                <div class="left">
                    <div class="text">
                        <span>奖学金通知</span>
                        <span class="glyphicon glyphicon-remove"></span>
                    </div>
                </div>
                <div class="left">
                    <div class="text">
                        <span>国家奖学金</span>
                        <span class="glyphicon glyphicon-remove"></span>
                    </div>
                </div>
                <div class="right"></div>
            </div>
        </div>
        <div class="pos-commen-content-left">
            <ul>
                <li class="li-active">全部通知</li>
            </ul>
        </div>
        <div class="commen-content-center">
            <div class="title-bar">
                <img class="top-img-bar" src="../../static/front/images/u69.png" alt="">国家奖学金
            </div>
            <div class="col-xs-12 commen-content-table">
                <!-- <div class="col-xs-12 white-bg padding-top15">
                    <select name="" id="">
                        <option value="">贫困库</option>
                    </select>
                </div> -->
                <div class="col-xs-12 table-box">
                    <table class="table">
                        <tr class="active">
                            <th class="text-center">文件名称</th>
                            <th class="text-center">上传时间</th>
                            <th class="text-center">格式</th>
                            <th class="text-center">大小</th>
                            <th class="text-center">操作</th>
                        </tr>
                        <tr ng-repeat="td in allInfos" class="text-center">
                            <td>{{td.time}}</td>
                            <td>{{td.name}}</td>
                            <td>{{td.name}}</td>
                            <td>{{td.name}}</td>
                            <td ng-click='toSdOne()'>{{td.status}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>