<div class="my-content">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="top-commen">
            <div class="row">
                <div class="left">
                    <div class="text">
                        <span>实习管理</span>
                        <span class="glyphicon glyphicon-remove"></span>
                    </div>
                </div>
                <div class="right">

                </div>
            </div>
        </div>
        <div class="pos-commen-content-left">
            <ul>
                <li class="li-active" style="margin-top: 5px" ng-click='toTeAc()'>实习单位</li>
                <li ng-click='toR()'>论文指导</li>
                <!-- <li ng-click='toR()'>答辩小组</li>
                <li class="li-active" ng-click='toA()'>答辩成绩</li>
                <li ng-click='toL()'>毕业成绩</li> -->
            </ul>
        </div>
        <div class="commen-content-center">
            <div class="title-bar">
                <div class="col-xs-6">
                    <div class="row">
                        <img class="top-img-bar" src="../../static/front/images/u69.png" alt="">实习指导
                    </div>
                </div>
                <div class="col-xs-6 text-right">
                    <span ng-click="newPro()">新建+</span>
                    <!-- <select name="" id="">
                        <option>教职员工</option>
                        <option>我的项目</option>
                    </select> -->
                </div>
            </div>
            <div class="col-xs-12 commen-content-table">
                <div class="col-xs-12 white-bg padding-top15">
                    <div class="col-xs-6">
                        <div class="row">
                            <!-- <button class="btn btn-default">全部</button>
                            <button class="btn btn-default">待审核</button>
                            <button class="btn btn-default">已审核</button> -->
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="row text-right">
                            <select name="" id="">
                                <option value="">按时间</option>
                            </select>
                            <input type="text">
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 table-box">
                    <table class="table">
                        <tr class="active">
                            <th class="text-center">项目名称</th>
                            <th class="text-center">立项时间</th>
                            <th class="text-center">项目来源</th>
                            <th class="text-center">项目起迄时间</th>
                            <th class="text-center">获得经费</th>
                            <th class="text-center">参与人数</th>
                            <th class="text-center">项目负责人</th>
                            <th class="text-center">指导教师</th>
                            <th class="text-center">审核状态</th>
                            <th class="text-center">操作</th>
                        </tr>
                        <tr ng-repeat="td in allInfos" class="text-center">
                            <td>{{td.name}}</td>
                            <td>{{td.class}}</td>
                            <td>{{td.time}}</td>
                            <td>{{td.name}}</td>
                            <td>{{td.name}}</td>
                            <td>{{td.name}}</td>
                            <td>{{td.name}}</td>
                            <td>{{td.name}}</td>
                            <td>{{td.name}}</td>
                            <td>
                                <span ng-click="choiceOneCom()">选择</span>
                                <span ng-click="quitOneCom()">退选</span>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">选择实习单位</h4>
            </div>
            <div class="modal-body clearfix">
                <div class="col-xs-12">
                    <label for="">单位名称：</label>
                </div>
                <div class="col-xs-12">
                    <label for="">科室：</label>
                </div>
                <div class="col-xs-12">
                    <label for="">指导教师：</label>
                </div>
                <div class="col-xs-12">
                    <label for="">职称：</label>
                </div>
                <div class="col-xs-12">
                    <label for="">课题方向：</label>
                </div>
                <div class="col-xs-12">
                    <label for="">实习时长：</label>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">确认无误</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">选择实习单位</h4>
            </div>
            <div class="modal-body clearfix">
                <div class="text-center">
                    确认退选该实习单位，本单位可是很抢手啊，退选有可能存在选不到实习单位的情况，确定好了么？
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">绝不后悔</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>