<div class="my-content">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="top-commen">
            <div class="row">
                <div class="left">
                    <div class="text">
                        <span>实习管理</span>
                        <span class="glyphicon glyphicon-remove"></span>
                    </div>
                </div>
                <div class="right">

                </div>
            </div>
        </div>
        <div class="pos-commen-content-left">
            <ul>
                <li style="margin-top: 5px" ng-click='toTeAc()'>开题信息</li>
                <li ng-click='toR()'>答辩管理</li>
                <li ng-click='toR()'>答辩小组</li>
                <li class="li-active" ng-click='toA()'>答辩成绩</li>
                <li ng-click='toL()'>毕业成绩</li>
            </ul>
        </div>
        <div class="commen-content-center">
            <div class="title-bar">
                <div class="col-xs-6">
                    <div class="row">
                        <img class="top-img-bar" src="../../static/front/images/u69.png" alt="">实习指导
                    </div>
                </div>
                <div class="col-xs-6 text-right">
                    <span ng-click="newPro()">新建+</span>
                    <select name="" id="">
                        <option>教职员工</option>
                        <option>我的项目</option>
                    </select>
                </div>
            </div>
            <div class="col-xs-12 commen-content-table">
                <div class="col-xs-12 white-bg padding-top15">
                    <div class="col-xs-6">
                        <div class="row">
                            <button class="btn btn-default">全部</button>
                            <button class="btn btn-default">待审核</button>
                            <button class="btn btn-default">已审核</button>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="row text-right">
                            <select name="" id="">
                                <option value="">按时间</option>
                            </select>
                            <input type="text">
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 table-box">
                    <table class="table">
                        <tr class="active">
                            <th class="text-center">项目名称</th>
                            <th class="text-center">立项时间</th>
                            <th class="text-center">项目来源</th>
                            <th class="text-center">项目起迄时间</th>
                            <th class="text-center">获得经费</th>
                            <th class="text-center">参与人数</th>
                            <th class="text-center">项目负责人</th>
                            <th class="text-center">指导教师</th>
                            <th class="text-center">审核状态</th>
                            <th class="text-center">操作</th>
                        </tr>
                        <tr ng-repeat="td in allInfos" class="text-center">
                            <td>{{td.name}}</td>
                            <td>{{td.class}}</td>
                            <td>{{td.time}}</td>
                            <td>{{td.name}}</td>
                            <td>{{td.name}}</td>
                            <td>{{td.name}}</td>
                            <td>{{td.name}}</td>
                            <td>{{td.name}}</td>
                            <td>{{td.name}}</td>
                            <td ng-click='toCheckPro()'>{{td.status}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>