<div class="my-content">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="top-commen">
            <div class="row">
                <div class="left">
                    <div class="text">
                        <span>公告管理</span>
                        <span class="glyphicon glyphicon-remove"></span>
                    </div>
                </div>
                <div class="right">

                </div>
            </div>
        </div>
        <div class="pos-commen-content-left">
            <ul>
                <li>
                    <input type="text" placeholder="搜索" style="width: 100%">
                </li>
            </ul>
        </div>
        <div class="commen-content-center">
            <div class="title-bar">
                <div class="col-xs-6">
                    <div class="row">
                        <img class="top-img-bar" src="../../static/front/images/u69.png" alt="">公告管理
                    </div>
                </div>
                <div class="col-xs-6 text-right">
                    <span ng-click="newPro()">新建通知公告</span>
                    <select name="" id="">
                        <option value="">公告类别1</option>
                    </select>
                </div>
            </div>
            <div class="col-xs-12 commen-content-table">
                <div class="col-xs-12 white-bg padding-top15">
                    <div class="col-xs-6">
                        <div class="row">
                            <button class="btn btn-default">全部</button>
                            <button class="btn btn-default">待审核</button>
                            <button class="btn btn-default">已审核</button>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="row text-right">
                            <select name="" id="">
                                <option value="">按时间</option>
                            </select>
                            <input type="text">
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 table-box">
                    <table class="table">
                        <tr class="active">
                            <th class="text-center">
                                <input type="radio" name="" id="">
                            </th>
                            <th class="text-center">标题</th>
                            <th class="text-center">类别</th>
                            <th class="text-center">等级</th>
                            <th class="text-center">状态</th>
                            <th class="text-center">生效日期</th>
                            <th class="text-center">终止日期</th>
                            <th class="text-center">发布人</th>
                            <th class="text-center">发布范围</th>
                            <th class="text-center">操作</th>
                        </tr>
                        <tr ng-repeat="td in allInfos" class="text-center">
                            <th class="text-center">
                                <input type="radio" name="" id="">
                            </th>
                            <td>{{td.time}}</td>
                            <td>{{td.name}}</td>
                            <td>{{td.class}}</td>
                            <td>{{td.time}}</td>
                            <td>{{td.name}}</td>
                            <td>{{td.name}}</td>
                            <td>{{td.name}}</td>
                            <td>{{td.class}}</td>
                            <td ng-click='toNoticeInfo()'>{{td.status}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>