<div class="my-content">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="top-commen">
            <div class="row">
                <div class="left">
                    <div class="text">
                        <span>实习管理</span>
                        <span class="glyphicon glyphicon-remove"></span>
                    </div>
                </div>
                <div class="right">

                </div>
            </div>
        </div>
        <div class="pos-commen-content-left">
            <ul>
                <li style="margin-top: 5px" ng-click='toD()'>导师信息</li>
                <li class="li-active" ng-click='toP()'>评价导师</li>
            </ul>
        </div>
        <div class="commen-content-center">
            <div class="title-bar">
                <div class="col-xs-6">
                    <div class="row">
                        <img class="top-img-bar" src="../../static/front/images/u69.png" alt="">评价导师
                    </div>
                </div>
                <div class="col-xs-6 text-right">
                    <!-- <span ng-click="newPro()">新建+</span>
                    <select name="" id="">
                        <option>教职员工</option>
                        <option>我的项目</option>
                    </select> -->
                </div>
            </div>
            <!-- <div class="col-xs-12 commen-content-table">
                <div class="col-xs-12 white-bg padding-top15">
                    <div class="col-xs-6">
                        <div class="row">
                            <button class="btn btn-default">全部</button>
                            <button class="btn btn-default">待审核</button>
                            <button class="btn btn-default">已审核</button>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="row text-right">
                            <select name="" id="">
                                <option value="">按时间</option>
                            </select>
                            <input type="text">
                        </div>
                    </div>
                </div> -->

                <!-- <div class="col-xs-12 table-box">
                    <table class="table">
                        <tr class="active">
                            <th class="text-center">开题小组</th>
                            <th class="text-center">组长</th>
                            <th class="text-center">秘书</th>
                            <th class="text-center">委员</th>
                            <th class="text-center">时间</th>
                            <th class="text-center">地点</th>
                            <th class="text-center">学生姓名</th>
                            <th class="text-center">学号</th>
                            <th class="text-center">课题方向</th>
                            <th class="text-center">开题结果</th>
                        </tr>
                        <tr ng-repeat="td in allInfos" class="text-center">
                            <td>{{td.name}}</td>
                            <td>{{td.class}}</td>
                            <td>{{td.time}}</td>
                            <td>{{td.name}}</td>
                            <td>{{td.name}}</td>
                            <td>{{td.name}}</td>
                            <td>{{td.name}}</td>
                            <td>{{td.name}}</td>
                            <td>{{td.name}}</td>
                            <td>{{td.status}}</td>
                        </tr>
                    </table>
                </div> -->
            </div>
        </div>
    </div>
</div>