<div class="commen-content-center">
    <div class="form-group">
        <div class="col-xs-12">
            <label for="lastname" class="control-label label-width">培训内容：</label>
            <input type="text">
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-12 margin-top15">
            <label for="lastname" class="control-label label-width">培养时间：</label>
            <input type="text">
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-12 margin-top15">
            <label for="lastname" class="control-label label-width">培训地点：</label>
            <input type="text">
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-12 margin-top15">
            <label for="lastname" class="control-label label-width">主办单位：</label>
            <textarea name="" id="" cols="30" rows="10"></textarea>
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-12 margin-top15">
            <label for="lastname" class="control-label label-width">经费来源：</label>
            <input type="text">
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-12 margin-top15">
            <label for="lastname" class="control-label label-width">支撑材料附件：</label>
            <button class="btn btn-default">附件上传</button>
        </div>
    </div>
    <div class="form-group" ng-hide="proId==1">
        <div class="col-xs-12 margin-top15">
            <label for="lastname" class="control-label label-width"></label>
            <span>共一个附件|</span>
            <span>全部下载</span>
        </div>
    </div>
    <div class="form-group" ng-hide="proId==1">
        <div class="col-xs-12 margin-top15">
            <label for="lastname" class="control-label label-width"></label>
            <div class="inline-block-div">
                <div class="col-xs-12 margin-top15 text-center">
                    附件1
                </div>
                <div class="col-xs-12">
                    <div class="row text-center">
                        <button class='btn btn-default'>下载</button>
                        <button class='btn btn-default'>删除</button>
                    </div>
                </div>
            </div>
            <div class="inline-block-div">
                <div class="col-xs-12 margin-top15 text-center">
                    附件1
                </div>
                <div class="col-xs-12">
                    <div class="row text-center">
                        <button class='btn btn-default'>下载</button>
                        <button class='btn btn-default'>删除</button>
                    </div>
                </div>
            </div>
            <div class="inline-block-div">
                <div class="col-xs-12 margin-top15 text-center">
                    附件1
                </div>
                <div class="col-xs-12">
                    <div class="row text-center">
                        <button class='btn btn-default'>下载</button>
                        <button class='btn btn-default'>删除</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-12 margin-top15">
            <div class="col-xs-6 text-right"><button class="btn btn-default">保存</button></div>
            <div class="col-xs-6"><button class="btn btn-default">取消</button></div>
        </div>
    </div>
</div>