<!-- Wrapper-->
<div id="wrapper" style="background: #fff">

    

    
    
    <!-- Page wraper -->
    <!-- ng-class with current state name give you the ability to extended customization your view -->
    <div id="page-wrapper" class="gray-bg {{$state.current.name}} clearfix">

        <!-- Page wrapper -->
        <div ng-include="'../../static/front/views/common/topnavbar.html'"></div>
        <!-- Navigation -->
        <div class="se1 wrapperHeight" ng-if="student"  ng-include="'../../static/front/views/common/studentNav.html'"></div>
        <div class="se2 wrapperHeight" ng-if="instructor"  ng-include="'../../static/front/views/common/instructorNav.html'"></div>
        <div class="se4 wrapperHeight" ng-if="department"  ng-include="'../../static/front/views/common/studentDepartmentNav.html'"></div>
        <div class="se3 wrapperHeight" ng-if="srmStaffNav"  ng-include="'../../static/front/views/common/srmStaffNav.html'"></div>
        <div class="se3 wrapperHeight" ng-if="teachingNav"  ng-include="'../../static/front/views/common/teachingNav.html'"></div>
        <div class="se3 wrapperHeight" ng-if="partyAffManaNav"  ng-include="'../../static/front/views/common/partyAffManaNav.html'"></div>
        <div class="se3 wrapperHeight" ng-if="teachStaffNav"  ng-include="'../../static/front/views/common/teachStaffNav.html'"></div>
        <!-- <div class="se3 wrapperHeight" ng-if="office"  ng-include="'../../static/front/views/common/yunSW.html'"></div> -->
        <!-- <div class="se3 wrapperHeight" ng-if="office"  ng-include="'../../static/front/views/common/yunSW.html'"></div> -->
        <!-- <div class="se3 wrapperHeight" ng-if="office"  ng-include="'../../static/front/views/common/yunSW.html'"></div> -->
        <!-- Main view  -->
        <div ui-view></div>


        <!-- Footer -->
        <div ng-include="'../../static/front/views/common/footer.html'"></div>

    </div>
    <!-- End page wrapper-->

</div>
<!-- End wrapper-->