<nav class="navbar navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul side-navigation class="nav metismenu" id="side-menu">
            <!-- <li class="nav-header logoBorder">
                <div class="profile-element pageLogo">
                    <a uib-dropdown-toggle>
                        <img src="{{pageLogo}}" alt="">
                    </a>
                </div>
                <div class="logo-element">
                    云生物
                </div>

            </li> -->
            <li ui-sref-active="active">
                <a ui-sref="index.home" class="nav-header-img">
                    <!-- <img class="left-icon" src="../../static/front/images/left-icon/home.png" alt=""> -->
                    <span class="nav-label">张传明</span>
                    <!-- <img src="" alt=""> -->
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="index.personInfo">
                    <!-- <img class="left-icon" src="../../static/front/images/left-icon/one.png" alt=""> -->
                    <span class="nav-label">教职部</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="index.instructor">
                    <!-- <img class="left-icon" src="../../static/front/images/left-icon/one.png" alt=""> -->
                    <span class="nav-label">个人资料</span>
                </a>
            </li>
            <li ui-sref-active="active" ng-class="myFDYActive">
                <a ui-sref="index.classManage">
                    <!-- <img class="left-icon" src="../../static/front/images/left-icon/one.png" alt=""> -->
                    <span class="nav-label">班级管理</span>
                </a>
            </li>
            <li ui-sref-active="active" ng-class="poolActive">
                <a ui-sref="index.fdyPoolInfo">
                    <!-- <img class="left-icon" src="../../static/front/images/left-icon/one.png" alt=""> -->
                    <span class="nav-label">贫困库信息</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="index.fdyHelpPool">
                    <!-- <img class="left-icon" src="../../static/front/images/left-icon/one.png" alt=""> -->
                    <span class="nav-label">精准扶贫</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="index.fdyScholarship">
                    <!-- <img class="left-icon" src="../../static/front/images/left-icon/one.png" alt=""> -->
                    <span class="nav-label">奖学金</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="index.fdyGrant">
                    <!-- <img class="left-icon" src="../../static/front/images/left-icon/one.png" alt=""> -->
                    <span class="nav-label">助学金</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="index.fdyHonor">
                    <!-- <img class="left-icon" src="../../static/front/images/left-icon/one.png" alt=""> -->
                    <span class="nav-label">荣誉奖励</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="index.fdyWorkStudy">
                    <!-- <img class="left-icon" src="../../static/front/images/left-icon/one.png" alt=""> -->
                    <span class="nav-label">勤工俭学</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="index.fdyPunishment">
                    <!-- <img class="left-icon" src="../../static/front/images/left-icon/one.png" alt=""> -->
                    <span class="nav-label">惩处工作</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="index.fdyPsychology">
                    <!-- <img class="left-icon" src="../../static/front/images/left-icon/one.png" alt=""> -->
                    <span class="nav-label">心理安全</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="index.fdySafe">
                    <!-- <img class="left-icon" src="../../static/front/images/left-icon/one.png" alt=""> -->
                    <span class="nav-label">安全工作</span>
                </a>
            </li>
        </ul>
    </div>
</nav>