<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul side-navigation class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="profile-element" style="font-size: 18px;">
                    <a uib-dropdown-toggle>
                        <span class="clear">
                            <span class="block m-t-xs">
                                <strong class="font-bold">{{main.userName}}</strong>
                            </span>
                        </span>
                    </a>
                </div>
                <div class="logo-element">
                    云生物
                </div>

            </li>
            <li ui-sref-active="active">
                <a ui-sref="index.svProvider"><i class="fa fa-desktop"></i> <span class="nav-label">首页</span></a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="index.home"><i class="fa fa-desktop"></i> <span class="nav-label">个人设置</span></a>
            </li>
        </ul>

    </div>
</nav>