
<ul class="pagination pull-right pagination-lg">
    <li class="prev" ng-click="prevPage()"><a href="javascript:;">&laquo;</a></li>
    <li class="numPage"><a href="javascript:;"><span>1</span>/<span>1</span></a></li>
    <li class="next" ng-click="nextPage()"><a href="javascript:;">&raquo;</a></li>
    <li class="toPage"><a href="javascript:;"><input type="text" style="height: 24px;width: 30px"></a></li>
    <li class="toPageBtn" ng-click="toNumPage()"><a href="javascript:;">跳页</a></li>
</ul>