<nav class="navbar navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul side-navigation class="nav metismenu" id="side-menu">
            <li ui-sref-active="active">
                <a ui-sref="index.ptAfManIndex">
                    <!-- <img class="left-icon" src="../../static/front/images/left-icon/one.png" alt=""> -->
                    <span class="nav-label">首页</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="index.ptAfManNotice">
                    <!-- <img class="left-icon" src="../../static/front/images/left-icon/one.png" alt=""> -->
                    <span class="nav-label">公告管理</span>
                </a>
            </li>
            <li ui-sref-active="active" ng-class="myFDYActive">
                <a ui-sref="index.ptAfManLeMate">
                    <!-- <img class="left-icon" src="../../static/front/images/left-icon/one.png" alt=""> -->
                    <span class="nav-label">学习材料</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="index.ptAfManLeLog">
                    <!-- <img class="left-icon" src="../../static/front/images/left-icon/one.png" alt=""> -->
                    <span class="nav-label">学习日志</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="index.ptAfManSelfInfo">
                    <!-- <img class="left-icon" src="../../static/front/images/left-icon/one.png" alt=""> -->
                    <span class="nav-label">个人资料</span>
                </a>
            </li>
        </ul>
    </div>
</nav>