<div class="commen-content-center">
    <div class="form-group">
        <div class="col-xs-12">
            <label for="lastname" class="control-label label-width">社会服务名称：</label>
            <input type="text">
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-12 margin-top15">
            <label for="lastname" class="control-label label-width">社会服务内容：</label>
            <input type="text">
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-12 margin-top15">
            <label for="lastname" class="control-label label-width">社会服务时间：</label>
            <input type="text">
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-12 margin-top15">
            <label for="lastname" class="control-label label-width">社会服务地点：</label>
            <input type="text">
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-12 margin-top15">
            <div class="col-xs-6 text-right"><button class="btn btn-default">保存</button></div>
            <div class="col-xs-6"><button class="btn btn-default">取消</button></div>
        </div>
    </div>
</div>