<nav class="navbar navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul side-navigation class="nav metismenu" id="side-menu">
            <!-- <li class="nav-header logoBorder">
                <div class="profile-element pageLogo">
                    <a uib-dropdown-toggle>
                        <img src="{{pageLogo}}" alt="">
                    </a>
                </div>
                <div class="logo-element">
                    云生物
                </div>

            </li> -->

            <li ui-sref-active="active">
                <a ui-sref="index.home" class="nav-header-img">
                    <!-- <img class="left-icon" src="../../static/front/images/left-icon/home.png" alt=""> -->
                    <span class="nav-label">董传鹏</span>
                    <!-- <img src="" alt=""> -->
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="index.personInfo">
                    <!-- <img class="left-icon" src="../../static/front/images/left-icon/one.png" alt=""> -->
                    <span class="nav-label">学生</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="index.personInfo">
                    <!-- <img class="left-icon" src="../../static/front/images/left-icon/one.png" alt=""> -->
                    <span class="nav-label">基本信息</span>
                </a>
            </li>
            <li ui-sref-active="active" ng-class="myActive">
                <a ui-sref="index.checkWork">
                    <!-- <img class="left-icon" src="../../static/front/images/left-icon/one.png" alt=""> -->
                    <span class="nav-label">考勤</span>
                </a>
            </li>
            <li ui-sref-active="active" ng-class="poolActive">
                <a ui-sref="index.poolInfo">
                    <!-- <img class="left-icon" src="../../static/front/images/left-icon/one.png" alt=""> -->
                    <span class="nav-label">贫困库信息</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="index.grant">
                    <!-- <img class="left-icon" src="../../static/front/images/left-icon/one.png" alt=""> -->
                    <span class="nav-label">助学金</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="index.scholarship">
                    <!-- <img class="left-icon" src="../../static/front/images/left-icon/one.png" alt=""> -->
                    <span class="nav-label">奖学金</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="index.workStudy">
                    <!-- <img class="left-icon" src="../../static/front/images/left-icon/one.png" alt=""> -->
                    <span class="nav-label">勤工俭学</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="index.threeGoodStudent">
                    <!-- <img class="left-icon" src="../../static/front/images/left-icon/one.png" alt=""> -->
                    <span class="nav-label">三好学生</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="index.classLeader">
                    <!-- <img class="left-icon" src="../../static/front/images/left-icon/one.png" alt=""> -->
                    <span class="nav-label">优秀班干部</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="index.otherReward">
                    <!-- <img class="left-icon" src="../../static/front/images/left-icon/one.png" alt=""> -->
                    <span class="nav-label">其他奖励</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="index.punishment">
                    <!-- <img class="left-icon" src="../../static/front/images/left-icon/one.png" alt=""> -->
                    <span class="nav-label">惩处</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="index.psychology">
                    <!-- <img class="left-icon" src="../../static/front/images/left-icon/one.png" alt=""> -->
                    <span class="nav-label">心理</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="index.safe">
                    <!-- <img class="left-icon" src="../../static/front/images/left-icon/one.png" alt=""> -->
                    <span class="nav-label">安全</span>
                </a>
            </li>
        </ul>

    </div>
</nav>