<nav class="navbar navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul side-navigation class="nav metismenu" id="side-menu">
            <li ui-sref-active="active">
                <a ui-sref="index.home" class="nav-header-img">
                    <!-- <img class="left-icon" src="../../static/front/images/left-icon/home.png" alt=""> -->
                    <span class="nav-label">张传明</span>
                    <!-- <img src="" alt=""> -->
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="index.personInfo">
                    <!-- <img class="left-icon" src="../../static/front/images/left-icon/one.png" alt=""> -->
                    <span class="nav-label">教职部</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="index.srmStaffIndex">
                    <!-- <img class="left-icon" src="../../static/front/images/left-icon/one.png" alt=""> -->
                    <span class="nav-label">文档资料</span>
                </a>
            </li>
            <li ui-sref-active="active" ng-class="myFDYActive">
                <a ui-sref="index.teNotice">
                    <!-- <img class="left-icon" src="../../static/front/images/left-icon/one.png" alt=""> -->
                    <span class="nav-label">待办事项</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="index.teInternshipCom">
                    <!-- <img class="left-icon" src="../../static/front/images/left-icon/one.png" alt=""> -->
                    <span class="nav-label">考勤管理</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="index.teSelfPropInfo">
                    <!-- <img class="left-icon" src="../../static/front/images/left-icon/one.png" alt=""> -->
                    <span class="nav-label">班级管理</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="index.tsSelfInfo">
                    <!-- <img class="left-icon" src="../../static/front/images/left-icon/one.png" alt=""> -->
                    <span class="nav-label">个人资料</span>
                </a>
            </li>
        </ul>
    </div>
</nav>