<nav class="navbar navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul side-navigation class="nav metismenu" id="side-menu">
            <li ui-sref-active="active">
                <a ui-sref="index.home" class="nav-header-img">
                    <!-- <img class="left-icon" src="../../static/front/images/left-icon/home.png" alt=""> -->
                    <span class="nav-label">张传明</span>
                    <!-- <img src="" alt=""> -->
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="index.personInfo">
                    <!-- <img class="left-icon" src="../../static/front/images/left-icon/one.png" alt=""> -->
                    <span class="nav-label">教职部</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="index.srmStaffIndex">
                    <!-- <img class="left-icon" src="../../static/front/images/left-icon/one.png" alt=""> -->
                    <span class="nav-label">首页</span>
                </a>
            </li>
            <li ui-sref-active="active" ng-class="myFDYActive">
                <a ui-sref="index.teNotice">
                    <!-- <img class="left-icon" src="../../static/front/images/left-icon/one.png" alt=""> -->
                    <span class="nav-label">公告管理</span>
                </a>
            </li>
            <li ng-show="selfDef" ui-sref-active="active">
                <a ui-sref="index.teInternshipCom">
                    <!-- <img class="left-icon" src="../../static/front/images/left-icon/one.png" alt=""> -->
                    <span class="nav-label">我的实习</span>
                </a>
            </li>
            <li ng-show="selfDef" ui-sref-active="active">
                <a ui-sref="index.teSelfPropInfo">
                    <!-- <img class="left-icon" src="../../static/front/images/left-icon/one.png" alt=""> -->
                    <span class="nav-label">我的毕业</span>
                </a>
            </li>
            <li ng-show="selfDef" ui-sref-active="active">
                <a ui-sref="index.teSelfTutor">
                    <!-- <img class="left-icon" src="../../static/front/images/left-icon/one.png" alt=""> -->
                    <span class="nav-label">我的导师</span>
                </a>
            </li>
            <li ui-sref-active="active" ng-class="poolActive">
                <a ui-sref="index.teAchievStuPro">
                    <!-- <img class="left-icon" src="../../static/front/images/left-icon/one.png" alt=""> -->
                    <span class="nav-label">教学改革与教学成果</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="index.tePracMana">
                    <!-- <img class="left-icon" src="../../static/front/images/left-icon/one.png" alt=""> -->
                    <span class="nav-label">实习管理</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="index.teGraMaTitle">
                    <!-- <img class="left-icon" src="../../static/front/images/left-icon/one.png" alt=""> -->
                    <span class="nav-label">毕业管理</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="index.teTutorIf">
                    <!-- <img class="left-icon" src="../../static/front/images/left-icon/one.png" alt=""> -->
                    <span class="nav-label">导师管理</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="index.teTotal">
                    <!-- <img class="left-icon" src="../../static/front/images/left-icon/one.png" alt=""> -->
                    <span class="nav-label">汇总导出</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="index.teSelfInfo">
                    <!-- <img class="left-icon" src="../../static/front/images/left-icon/one.png" alt=""> -->
                    <span class="nav-label">个人资料</span>
                </a>
            </li>
        </ul>
    </div>
</nav>