<div class="my-content">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="top-commen">
            <div class="row">
                <!-- <div class="left">
                        <div class="text">
                            <span>实习管理</span>
                            <span class="glyphicon glyphicon-remove"></span>
                        </div>
                    </div> -->
                <div class="right">

                </div>
            </div>
        </div>
        <div class="title-bar">
            <div class="col-xs-6">
                <div class="row">
                    <img class="top-img-bar" src="../../static/front/images/u69.png" alt="">公告管理·新建公告
                </div>
            </div>
            <div class="col-xs-6 text-right">
                <span ng-click="toBackPro()" ng-hide="proId==4">返回</span>
            </div>
        </div>

        <div class="col-xs-12 commen-content-table">
            <div class="col-xs-12 table-box">
                <div class="form-group">
                    <div class="col-xs-12">
                        <label for="lastname" class="control-label label-width">标题：</label>
                        <input type="text">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12 margin-top15">
                        <label for="lastname" class="control-label label-width">公告类别：</label>
                        <input type="text">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12 margin-top15">
                        <label for="lastname" class="control-label label-width">公告等级：</label>
                        <select name="" id="">
                            <option value="">国家级</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12 margin-top15">
                        <label for="lastname" class="control-label label-width">生效日期：</label>
                        <input type="text">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12 margin-top15">
                        <label for="lastname" class="control-label label-width">结束日期：</label>
                        <input type="text">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12 margin-top15">
                        <label for="lastname" class="control-label label-width">内容：</label>
                        <textarea name="" id="" cols="30" rows="10"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12 margin-top15">
                        <label for="lastname" class="control-label label-width">发布范围：</label>
                        <input type="checkbox">所有人员
                        <input type="checkbox">学科系人员
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12 margin-top15">
                        <label for="lastname" class="control-label label-width">附件：</label>
                        <button class="btn btn-default">附件上传</button>
                    </div>
                </div>
                <div class="form-group" ng-hide="proId==1">
                    <div class="col-xs-12 margin-top15">
                        <label for="lastname" class="control-label label-width"></label>
                        <span>共一个附件|</span>
                        <span>全部下载</span>
                    </div>
                </div>
                <div class="form-group" ng-hide="proId==1">
                    <div class="col-xs-12 margin-top15">
                        <label for="lastname" class="control-label label-width"></label>
                        <div class="inline-block-div">
                            <div class="col-xs-12 margin-top15 text-center">
                                附件1
                            </div>
                            <div class="col-xs-12">
                                <div class="row text-center">
                                    <button class='btn btn-default'>下载</button>
                                    <button class='btn btn-default'>删除</button>
                                </div>
                            </div>
                        </div>
                        <div class="inline-block-div">
                            <div class="col-xs-12 margin-top15 text-center">
                                附件1
                            </div>
                            <div class="col-xs-12">
                                <div class="row text-center">
                                    <button class='btn btn-default'>下载</button>
                                    <button class='btn btn-default'>删除</button>
                                </div>
                            </div>
                        </div>
                        <div class="inline-block-div">
                            <div class="col-xs-12 margin-top15 text-center">
                                附件1
                            </div>
                            <div class="col-xs-12">
                                <div class="row text-center">
                                    <button class='btn btn-default'>下载</button>
                                    <button class='btn btn-default'>删除</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12 margin-top15">
                        <button class="btn btn-default">保存草稿</button>
                        <button class="btn btn-default">发布</button>
                    </div>
                </div>
            </div>
        </div>
        <!--分页-->
        <div ng-include="'../../static/front/views/common/pagination.html'"></div>
    </div>
</div>