<div class="my-content">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="top-commen">
            <div class="row">
                <!-- <div class="left">
                        <div class="text">
                            <span>基本信息</span>
                            <span class="glyphicon glyphicon-remove"></span>
                        </div>
                    </div> -->
                <div class="right">

                </div>
            </div>
        </div>
        <div class="">
            <div class="title-bar">
                <div class="col-xs-6">
                    <div class="row">
                        <img class="top-img-bar" src="../../static/front/images/u69.png" alt="">学习日志
                    </div>
                </div>
                <div class="col-xs-6 text-right">
                    <span ng-click="toNewPro()" ng-hide="proId==4">新建学习日志</span>
                    <select name="" id="">
                        <option value="">公告类别</option>
                    </select>
                </div>
            </div>
            <div class="col-xs-12 commen-content-table">
                <div class="col-xs-12 table-box">
                    <table class="table">
                        <tr class="active">
                            <th>
                                <input type="checkbox">
                            </th>
                            <th class="text-center">标题</th>
                            <th class="text-center">类别</th>
                            <th class="text-center">状态</th>
                            <th class="text-center">发布时间</th>
                            <th class="text-center">发布人</th>
                            <th class="text-center">发布范围</th>
                            <th class="text-center">操作</th>
                        </tr>
                        <tr ng-repeat="td in allInfos" class="text-center">
                            <th>
                                <input type="checkbox">
                            </th>
                            <td>{{td.name}}</td>
                            <td>{{td.class}}</td>
                            <td>{{td.time}}</td>
                            <td>{{td.name}}</td>
                            <td>{{td.name}}</td>
                            <td>{{td.name}}</td>
                            <td ng-click='toCheckPro()'>{{td.status}}</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="row">
                    <button class="btn btn-default">批量删除</button>
                </div>
            </div>
        </div>
        <!--分页-->
        <div ng-include="'../../static/front/views/common/pagination.html'"></div>
    </div>
</div>