<!--{%load static%}-->
<!DOCTYPE html>
<html ng-app="inspinia">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0;minimum-scale=1,maximum-scale=1,initial-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Page title set in pageTitle directive -->
    <title page-title>贵州医科大学公共卫生学院</title>

    <!-- Font awesome -->
    <link href="../../static/front/font-awesome/css/font-awesome.css" rel="stylesheet">

    <!-- Bootstrap and Fonts -->
    <link href="../../static/front/css/bootstrap.min.css" rel="stylesheet">

    <!-- Main Inspinia CSS files -->
    <link href="../../static/front/css/animate.css" rel="stylesheet">
    <link id="loadBefore" href="../../static/front/css/style.css" rel="stylesheet">

    <!-- chosen插件-css -->
    <link href="../../static/front/css/chosen.css" rel="stylesheet">
</head>

<!-- ControllerAs syntax -->
<!-- Main controller with serveral data used in Inspinia theme on diferent view -->
<body ng-controller="MainCtrl as main" class="skin-1">

<!-- Main view  -->
<div ui-view style="height: 100%"></div>

<!--loading未加载-->
<div class="loading-modal modalIndex" ng-show="loading">
 <div class="loading">
  <img src="../../static/front/images/loading.gif" alt=""/><span ng-bind="loading_text"></span>
  稍等......
 </div>
</div>


<!-- jQuery and Bootstrap -->
<script src="../../static/front/js/jquery/jquery-2.1.1.min.js"></script>
<script src="../../static/front/js/plugins/jquery-ui/jquery-ui.js"></script>
<script src="../../static/front/js/bootstrap/bootstrap.min.js"></script>

<!-- MetsiMenu -->
<script src="../../static/front/js/plugins/metisMenu/jquery.metisMenu.js"></script>

<!-- SlimScroll -->
<script src="../../static/front/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>

<!-- Peace JS -->
<script src="../../static/front/js/plugins/pace/pace.min.js"></script>

<!-- Custom and plugin javascript -->
<script src="../../static/front/js/inspinia.js"></script>



<!-- Main Angular scripts-->
<script src="../../static/front/js/angular/angular.min.js"></script>
<script src="../../static/front/js/plugins/oclazyload/dist/ocLazyLoad.min.js"></script>
<script src="../../static/front/js/ui-router/angular-ui-router.min.js"></script>
<script src="../../static/front/js/bootstrap/ui-bootstrap-tpls-1.1.2.min.js"></script>

<!--验证码-->
<script src="../../static/front/js/gVerify.js"></script>

<!--日期插件-->
<script src="../../static/front/js/laydate/laydate.js"></script>
<!--base64加密插件-->
<script src="../../static/front/js/js-base64/base64.min.js"></script>
<!-- echarts插件 -->
<script src="../../static/front/js/echarts/echarts.common.min.js"></script>

<!-- chosen插件-js -->
<script src="../../static/front/js/chosen/chosen.jquery.js"></script>
<!-- <script src="../../static/front/js/chosen/prism.js"></script> -->
<!-- <script src="../../static/front/js/chosen/init.js"></script> -->

<!-- Anglar App Script -->
<script src="../../static/front/js/app.js"></script>
<script src="../../static/front/js/config.js"></script>
<script src="../../static/front/js/directives.js"></script>
<script src="../../static/front/js/constant/constant.js"></script>
<script src="../../static/front/js/controllers.js"></script>
<script src="../../static/front/js/service.js"></script>
</body>
</html>