<div class="my-content">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="top-commen">
            <div class="row">
                <div class="left">
                    <div class="text">
                        <span>安全卫生</span>
                        <span class="glyphicon glyphicon-remove"></span>
                    </div>
                </div>
                <div class="right">

                </div>
            </div>
        </div>
        <div class="pos-commen-content-left">
            <ul>
                <li>通知公告</li>
                <li>我的安全</li>
                <li class="li-active">宿舍安全自查</li>
                <li ng-click="toWhereabouts()">假日去向登记</li>
            </ul>
        </div>
        <div class="commen-content-center">
            <div class="commen-title-bar">
                <div class="commen-title-left-line"></div>
                宿舍安全
            </div>
            <!-- <ul class="col-xs-12">
                <li ng-repeat="li in allInfos">
                    <div class="col-xs-6">{{li.text}}</div>
                    <div class="col-xs-6">
                        <input type="radio">有
                        <input type="radio">无
                    </div>
                </li>
            </ul> -->
            <div ng-repeat="li in allInfos">
                <div>
                    {{li.text}}
                    <input type="radio">有
                    <input type="radio">无
                </div>
            </div>
            <div class="commen-title-bar">
                <div class="commen-title-left-line"></div>
                宿舍卫生
            </div>
            <div ng-repeat="li in allInfos">
                <div>
                    {{li.text}}
                    <input type="radio">有
                    <input type="radio">无
                </div>
            </div>
        </div>
    </div>
</div>