<div class="my-content">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="top-commen">
            <div class="row">
                <div class="left">
                    <div class="text">
                        <span>基本信息</span>
                        <span class="glyphicon glyphicon-remove"></span>
                    </div>
                </div>
                <div class="right">

                </div>
            </div>
        </div>
        <div class="pos-commen-content-left">
            <ul>
                <li class="li-active">我的考勤</li>
                <li>其他</li>
            </ul>
        </div>
        <div class="commen-content-center">
            <div class="commen-title-bar">
                <div class="commen-title-left-line"></div>
                销假申请
            </div>

            <div class="col-xs-12 commen-content-table">
                <div class="form-group">
                    <div class="col-xs-12">
                        <label for="lastname" class="control-label">假期时间：</label>
                        <input type="text">
                        <label for="lastname" class="control-label">至</label>
                        <input type="text">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12 margin-top15">
                        <label for="lastname" class="control-label">假期时长：</label>
                        <input type="text">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12 margin-top15">
                        <button class="btn btn-default" ng-click="confirmSave()">提交</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>