<div class="my-content">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="top-commen">
            <div class="row">
                <div class="left">
                    <div class="text">
                        <span>助学金</span>
                        <span class="glyphicon glyphicon-remove"></span>
                    </div>
                </div>
                <div class="left">
                    <div class="text">
                        <span>助学金评选细则</span>
                        <span class="glyphicon glyphicon-remove"></span>
                    </div>
                </div>
                <div class="right">

                </div>
            </div>
        </div>
        <div class="pos-commen-content-left">
            <ul>
                <li class="li-active">通知公告</li>
                <li ng-click="toSelfEncouragementScholarship()">我的助学金</li>
            </ul>
        </div>
        <div class="commen-content-center">
            <div class="col-xs-12 commen-content-table margin-top15">
                <h4 class="text-center">贵州医科大学公共卫生学院国家励志奖学金评选细则</h4>
                <p class="text-index2em para">
                    为了全面贯彻党的教育方针，鼓励学生勤奋学习，促进学生德、智、体全面发展，成为社会主义现代化事业的合格建设者和可靠接班人，结合我校实际，设置优秀学生奖学金、单项奖学金。评定办法如下：
                    
                    第一条    学生奖学金经费来源<br/>
                    
                    学校从学杂费收入中按一定比例提取经费作为奖学金经费。
                    
                    第二条    学生奖学金评定相关规定<br/>
                    
                    一、学生奖学金评定条件：<br/>
                    
                    （一）热爱社会主义祖国，拥护四项基本原则，遵守国家法律，品德优良，模范遵守《高等学校学生行为准则》、《普通高等学校学生管理规定》和学校有关规章制度。<br/>
                    
                    （二）热爱所学专业、勤奋学习、成绩优良。<br/>
                    
                    （三）积极参加社会工作、体育锻炼、文娱和集体活动。<br/>
                    
                    二、学生奖学金评定标准及比例<br/>
                    
                    （一）学生奖学金分一等奖、二等奖、三等奖和单项奖。<br/>
                    
                    （二）评定各类奖学金，单科成绩必须达到70分（含70分）以上，考查科目必须达到合格（含合格）以上。<br/>
                    
                    （三）奖学金评定按专业年级以上一学年考试科目总评成绩排序，一等奖比例为学生人数的3%，表彰金额每生800元；二等奖比例为学生人数的5%比例，表彰金额每生500元；三等奖比例为学生人数的10%，表彰金额每生300元。<br/>
                    
                    （四）参加省级（含省级）以上科技作品、科研论文、创业设计等活动（竞赛）获前三名，设置单项奖学金，表彰金额为每生300元；参评名额不受限制。<br/>
                    
                    （五）在奖学金评定中，学生干部、在校级以上（含校级）活动中获前三名的同学可在总评成绩上加1分参加各等级奖学金的评定。<br/>
                    
                    三、奖学金评定及发放办法
                </p>
            </div>
        </div>
    </div>
</div>