<div class="my-content">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="top-commen">
            <div class="row">
                <div class="left">
                    <div class="text">
                        <span>助学金</span>
                        <span class="glyphicon glyphicon-remove"></span>
                    </div>
                </div>
                <div class="left">
                    <div class="text">
                        <span>助学金评选细则</span>
                        <span class="glyphicon glyphicon-remove"></span>
                    </div>
                </div>
                <div class="left">
                    <div class="text">
                        <span>助学金申请</span>
                        <span class="glyphicon glyphicon-remove"></span>
                    </div>
                </div>
                <div class="right">

                </div>
            </div>
        </div>
        <div class="pos-commen-content-left">
            <ul>
                <li class="li-active">通知公告</li>
                <li>我的助学金</li>
            </ul>
        </div>
        <div class="commen-content-center">
            <div class="title-bar">
                <img class="top-img-bar" src="../../static/front/images/u69.png" alt="">助学金
            </div>

            <div class="col-xs-12 commen-content-table">
                <div class="form-group">
                    <div class="col-xs-12">
                        <div class="col-sm-4">
                            <div class="row">
                                <label for="lastname" class="control-label">姓名：</label>
                                <input type="text">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="row">
                                <label for="lastname" class="control-label">性别：</label>
                                <input type="text">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="row">
                                <label for="lastname" class="control-label">民族：</label>
                                <input type="text">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12 margin-top15">
                        <div class="col-sm-6">
                            <div class="row">
                                <label for="lastname" class="control-label">学号：</label>
                                <input type="text">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="row">
                                <label for="lastname" class="control-label">身份证号：</label>
                                <input type="text">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12 margin-top15">
                        <div class="col-sm-6">
                            <div class="row">
                                <label for="lastname" class="control-label">家庭人口数：</label>
                                <input type="text">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="row">
                                <label for="lastname" class="control-label">家庭人均月收入：</label>
                                <input type="text">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12 margin-top15">
                        <label for="lastname" class="control-label">家庭地址：</label>
                        <input type="text">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12 margin-top15">
                        <div class="col-sm-6">
                            <div class="row">
                                <label for="lastname" class="control-label">父亲联系电话：</label>
                                <input type="text">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="row">
                                <label for="lastname" class="control-label">母亲联系电话：</label>
                                <input type="text">
                            </div>
                        </div>
                    </div>
                </div>
                <p class="margin-top15 col-xs-12">
                    <span class="red-color h4">注：</span>
                    <div class="col-xs-12">
                        按照贵州省家庭经济困难学生标准(贵州省城乡低保平均标准为561元/月和3580元/年，农村建档立卡贫困户识别标准为年人均纯收入低于3146元。)，确定家庭经济困难学生的认定。认定标准可设置一般困难、困难和特殊困难等3档。
                        <br/> 特困生是指孤、残学生及烈士子女、优扶家庭子女等学生给予照顾；困难及一般困难的认定由院系根据学生家庭实际收入、本人日常生活状况对其进行评定
                    </div>
                </p>
                <div class="form-group">
                    <div class="col-xs-12 margin-top15 text-center">
                        <button class="btn btn-default">修改</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>