<div>
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <!-- <form class="form-inline pull-right" style="padding: 20px">
                <div class="form-group clearfix">
                    <div class="col-sm-8 col-xs-12 clearfix" style="margin-top: 10px;">
                        <div class="row">
                            <div class="input-group fullWidth">
                                <input type="text" ng-model="searchPro" placeholder="项目编号、项目内容、状态" class="form-control">
                                <span class="input-group-addon"  ng-click="searchProBtn()">
                                    <img class="search-img" src="../../static/front/images/search.png" alt="">
                                </span>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-sm-4 col-xs-12 pull-right" style="margin-top: 10px;">
                        <div class="row text-right">
                            <a ui-sref="index.createPro" class="btn" style="background: #46aad1;color: #fff">创建项目</a>
                        </div>
                    </div>
                </div>
            </form> -->
            <!--分页-->
            <!-- <div ng-include="'../../static/front/views/common/pagination.html'"></div> -->
        </div>
    </div>
</div>
    