<div class="my-content">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="top-commen">
            <div class="row">
                <div class="left">
                    <div class="text">
                        <span>贫困信息</span>
                        <span class="glyphicon glyphicon-remove"></span>
                    </div>
                </div>
                <div class="left">
                    <div class="text">
                        <span>贫困信息公告通知</span>
                        <span class="glyphicon glyphicon-remove"></span>
                    </div>
                </div>
                <div class="right">

                </div>
            </div>
        </div>
        <div class="pos-commen-content-left">
            <ul>
                <li class="li-active">通知公告</li>
                <li>贫困信息登记</li>
                <li>我的资助</li>
            </ul>
        </div>
        <div class="commen-content-center">
            <!-- <div class="commen-title-bar">
                <div class="commen-title-left-line"></div>
                申请请假
            </div>

            <div class="col-xs-12 commen-content-table">

            </div> -->
            <div class="col-xs-12 commen-content-table margin-top15">
                <h4 class="text-center">贵州医科大学公共卫生学院精准扶贫评选细则</h4>
                <p class="text-index2em para">
                    为了全面贯彻党的教育方针，鼓励学生勤奋学习，促进学生德、智、体全面发展，成为社会主义现代化事业的合格建设者和可靠接班人，结合我校实际，设置优秀学生奖学金、单项奖学金。评定办法如下：
                    <br/> 贵州医科大学公共卫生学院精准扶贫评选细则，

                    <br/> 贵州医科大学公共卫生学院精准扶贫评选细则，

                    <br/> 贵州医科大学公共卫生学院精准扶贫评选细则，

                    <br/> 贵州医科大学公共卫生学院精准扶贫评选细则，

                    <br/> 贵州医科大学公共卫生学院精准扶贫评选细则，

                    <br/> 贵州医科大学公共卫生学院精准扶贫评选细则，

                    <br/> 贵州医科大学公共卫生学院精准扶贫评选细则，

                    <br/> 贵州医科大学公共卫生学院精准扶贫评选细则，
                </p>
            </div>
        </div>
    </div>
</div>