<div class="my-content">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="top-commen">
            <div class="row">
                <div class="left">
                    <div class="text">
                        <span>奖学金</span>
                        <span class="glyphicon glyphicon-remove"></span>
                    </div>
                </div>
                <div class="right">

                </div>
            </div>
        </div>
        <div class="pos-commen-content-left">
            <ul>
                <li>通知公告</li>
                <li class="li-active">我的奖学金</li>
            </ul>
        </div>
        <div class="commen-content-center">
            <div class="title-bar">
                <img class="top-img-bar" src="../../static/front/images/u69.png" alt="">我的奖学金
            </div>
            <div class="col-xs-12 white-bg padding-top15">
                <button class="btn btn-default" ng-click='toPsychologyForm()'>发布心理求助</button>
            </div>
            <div class="col-xs-12 commen-content-table">
                <div class="col-xs-12 table-box">
                    <table class="table">
                        <tr class="active">
                            <th class="text-center">日期</th>
                            <th class="text-center">问题归类</th>
                            <th class="text-center">求助原因</th>
                            <th class="text-center">处理态度</th>
                        </tr>
                        <tr ng-repeat="td in allInfos" class="text-center">
                            <td>{{td.time}}</td>
                            <td>{{td.name}}</td>
                            <td>{{td.class}}</td>
                            <td>{{td.type}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>