<div class="my-content">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="top-commen">
            <div class="row">
                <div class="left">
                    <div class="text">
                        <span>考勤</span>
                        <span class="glyphicon glyphicon-remove"></span>
                    </div>
                </div>
                <div class="left">
                    <div class="text">
                        <span>心理访谈记录</span>
                        <span class="glyphicon glyphicon-remove"></span>
                    </div>
                </div>
                <div class="right">

                </div>
            </div>
        </div>
        <div class="pos-commen-content-left">
            <ul>
                <li>通知公告</li>
                <li>我的心理健康</li>
                <li class="li-active">心理访谈记录</li>
                <li>心理求助</li>
            </ul>
        </div>
        <div class="commen-content-center">
            <div class="commen-title-bar">
                <div class="commen-title-left-line"></div>
                心理访谈记录
            </div>
            <div>
                <div class="col-xs-12">
                    <label for="">时间：</label>
                    2017年11月30日
                </div>
                <div class="col-xs-12">
                    <label for="">访谈对象：</label>
                    张光北
                </div>
                <div class="col-xs-12">
                    <label for="">问题类型：</label>
                    心理压抑、学习问题、情绪低落
                </div>
                <div class="col-xs-12">
                    <label for="">主要问题：</label>
                    失恋、考研、工作压力巨大、最近情绪低落、无法排解
                </div>
                <div class="col-xs-12">
                    <label for="">访谈过程：</label>
                    就目前问题展开讨论，也详细说明了具体原因！
                </div>
            </div>
        </div>
    </div>
</div>