<div class="my-content">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="top-commen">
            <div class="row">
                <div class="left">
                    <div class="text">
                        <span>考勤</span>
                        <span class="glyphicon glyphicon-remove"></span>
                    </div>
                </div>
                <div class="left">
                    <div class="text">
                        <span>发布心理求助</span>
                        <span class="glyphicon glyphicon-remove"></span>
                    </div>
                </div>
                <div class="right">

                </div>
            </div>
        </div>
        <div class="pos-commen-content-left">
            <ul>
                <li>通知公告</li>
                <li>我的心理健康</li>
                <li ng-click='toPsychologyChat()'>心理访谈记录</li>
                <li class="li-active">心理求助</li>
            </ul>
        </div>
        <div class="commen-content-center">
            <div class="commen-title-bar">
                <div class="commen-title-left-line"></div>
                发布心理求助
            </div>

            <div class="col-xs-12 commen-content-table">
                <div class="form-group">
                    <div class="col-xs-12 margin-top15">
                        <label for="lastname" class="control-label">心理求助分类：</label>
                        <select name="" id="">
                            <option value="">事假</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12 margin-top15">
                        <label for="lastname" class="control-label">心理求助内容：</label>
                        <input type="text">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12 margin-top15">
                        <label for="lastname" class="control-label">待解决时间：</label>
                        <input type="text">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12 margin-top15">
                        <button class="btn btn-default" ng-click="confirmSave()">提交</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>