<div class="my-content">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="top-commen">
            <div class="row">
                <div class="left">
                    <div class="text">
                        <span>奖学金</span>
                        <span class="glyphicon glyphicon-remove"></span>
                    </div>
                </div>
                <div class="right">

                </div>
            </div>
        </div>
        <div class="pos-commen-content-left">
            <ul>
                <li class="li-active">通知公告</li>
                <li>我的奖学金</li>
            </ul>
        </div>
        <div class="commen-content-center">
            <div class="title-bar">
                <img class="top-img-bar" src="../../static/front/images/u69.png" alt="">通知公告
            </div>
            <div class="col-xs-12 white-bg padding-top15">
                <button class="btn btn-default">全部</button>
                <button class="btn btn-default" ng-click="toNationalScholarship()">国家奖学金</button>
                <button class="btn btn-default" ng-click="toEncouragementScholarship()">励志奖学金</button>
                <button class="btn btn-default" ng-click="toZhongNanShanscholarship()">终南山奖学金</button>
                <button class="btn btn-default" ng-click='toSelfGuizhouScholarship()'>贵州医科大学奖学金</button>
            </div>
            <div class="col-xs-12 commen-content-table">
                <ul class="commen-ul">
                    <li ng-repeat="li in allInfos">
                        <a ng-click="toPage()">
                            <div class="col-xs-12">
                                <div class="row">
                                    {{li.text}}
                                </div>
                            </div>
                            <!-- <div class="col-xs-3">
                                <div class="row">
                                    {{li.time}}
                                </div>
                            </div> -->
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>