<div class="my-content">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="top-commen">
            <div class="row">
                <div class="left">
                    <div class="text">
                        <span>奖学金</span>
                        <span class="glyphicon glyphicon-remove"></span>
                    </div>
                </div>
                <div class="right">

                </div>
            </div>
        </div>
        <div class="pos-commen-content-left">
            <ul>
                <li>通知公告</li>
                <li class="li-active">我的奖学金</li>
            </ul>
        </div>
        <div class="commen-content-center">
            <div class="title-bar">
                <img class="top-img-bar" src="../../static/front/images/u69.png" alt="">我的奖学金
            </div>
            <div class="col-xs-12 white-bg padding-top15">
                <button class="btn btn-default">全部</button>
                <button class="btn btn-default" ng-click="toNationalScholarship()">国家奖学金</button>
                <button class="btn btn-default">励志奖学金</button>
                <button class="btn btn-default">终南山奖学金</button>
                <button class="btn btn-default">贵州医科大学奖学金</button>
            </div>
            <div class="col-xs-12 commen-content-table">
                <div class="col-xs-12 table-box">
                    <table class="table">
                        <!-- <tr class="active">
                                <th class="text-center">请假时间</th>
                                <th class="text-center">姓名</th>
                                <th class="text-center">系、班级</th>
                                <th class="text-center">类型</th>
                                <th class="text-center">具体原因</th>
                                <th class="text-center">附件</th>
                                <th class="text-center">状态</th>
                            </tr> -->
                        <tr ng-repeat="td in allInfos" class="text-center">
                            <td>{{td.time}}</td>
                            <td>{{td.name}}</td>
                            <td>{{td.class}}</td>
                            <td>{{td.type}}</td>
                            <td>{{td.reason}}</td>
                            <td>{{td.file}}</td>
                            <td>{{td.status}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>