<div class="my-content">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="top-commen">
            <div class="row">
                <div class="left">
                    <div class="text">
                        <span>奖学金</span>
                        <span class="glyphicon glyphicon-remove"></span>
                    </div>
                </div>
                <div class="right">

                </div>
            </div>
        </div>
        <div class="pos-commen-content-left">
            <ul>
                <li>通知公告</li>
                <li class="li-active">我的奖学金</li>
            </ul>
        </div>
        <div class="commen-content-center">
            <div class="title-bar" ng-click=''>
                <img class="top-img-bar" src="../../static/front/images/u69.png" alt="">宿舍安全卫生自查
                <span ng-click="addSafe()">添加+</span>
            </div>
            <div class="col-xs-12 commen-content-table">
                <div class="col-xs-12 table-box">
                    <table class="table">
                        <tr class="active">
                            <th class="text-center">日期</th>
                            <th class="text-center">系、班级</th>
                            <th class="text-center">宿舍</th>
                            <th class="text-center">自查状况</th>
                        </tr>
                        <tr ng-repeat="td in allInfos" class="text-center">
                            <td>{{td.time}}</td>
                            <td>{{td.name}}</td>
                            <td>{{td.class}}</td>
                            <td>{{td.type}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>