<div class="my-content">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="top-commen">
            <div class="row">
                <div class="left">
                    <div class="text">
                        <span>勤工俭学</span>
                        <span class="glyphicon glyphicon-remove"></span>
                    </div>
                </div>
                <div class="right">

                </div>
            </div>
        </div>
        <div class="pos-commen-content-left">
            <ul>
                <li class="li-active">通知公告</li>
                <li>我的岗位</li>
            </ul>
        </div>
        <div class="commen-content-center">
            <div class="title-bar">
                <img class="top-img-bar" src="../../static/front/images/u69.png" alt="">通知公告
            </div>
            <div class="col-xs-12 commen-content-table">
                <ul class="commen-ul">
                    <li ng-repeat="li in allInfos">
                        <a ng-click="toPage()">
                            <div class="col-xs-12">
                                <div class="row">
                                    {{li.text}}
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>