<div>
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-xs-12 home-box">
                <div class="home-top1 col-xs-12">
                    <div class="home-top1-title">
                        <div class="left"></div>
                        <div class="content">最新政策</div>
                    </div>
                    
                    <ul class="home-top1-ul">
                        <li ng-repeat="li in allNews">
                            <a href="">
                                <div class="col-xs-6">
                                    <div class="row">
                                        {{li.text}}
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="row">
                                        {{li.time}}
                                    </div>    
                                </div>    
                            </a> 
                        </li>
                    </ul>
                </div>

                
            </div>
            <div class="col-xs-12">
                <div class="home-content-box">
                    <div class="col-xs-6">
                        <div class="home-top1-title">
                            <div class="left"></div>
                            <div class="content">校历</div>
                        </div>
                        <div>
                            校历
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="home-top1-title">
                            <div class="left"></div>
                            <div class="content">提醒</div>
                        </div>
                        <ul class="home-top1-ul">
                            <li ng-repeat="li in allInfos">
                                <a href="">
                                    <div class="col-xs-9">
                                        <div class="row">
                                            {{li.text}}
                                        </div>
                                    </div>
                                    <div class="col-xs-3">
                                        <div class="row">
                                            {{li.time}}
                                        </div>    
                                    </div>    
                                </a> 
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
