<div>
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1">
                <div class="col-xs-12">
                    <div class="col-xs-6 login-img">
                        <img class="img-responsive" src="../../static/front/images/login.jpg" alt="">
                    </div>
                    <div class="col-xs-6 login-form">
                        <div class="col-xs-12 text-center">
                            <img src="../../static/front/images/line.png" alt="">
                            贵州医科大学公共卫生学院
                            <img src="../../static/front/images/line.png" alt="">
                        </div>
                        <div class="form-group">
                            <div class="col-xs-12 margin-top15">
                                <input type="text" class="form-control" id="firstname" placeholder="请输入用户名">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-12 margin-top15">
                                <input type="text" class="form-control" id="lastname" placeholder="请输入密码">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-12 margin-top15">
                                <button type="button" ng-click="login()" class="btn btn-default" style="width: 100%">登录</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 text-center">
                        <img src="../../static/front/images/dian.png" alt="">
                        欢迎登录学生管理系统
                        <img src="../../static/front/images/dian.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>